crms/com.primeton.tsl/src/com/primeton/tsl/DuebillProxy.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://webservice.lcs.easyloan.git.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservice.lcs.easyloan.git.com">
  <wsdl:types>
<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice.lcs.easyloan.git.com">
<xsd:element name="payoutByteArray">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:base64Binary"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="payoutByteArrayResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:base64Binary"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="payoutByteArrayRequest">
    <wsdl:part element="tns:payoutByteArray" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="payoutByteArrayResponse">
    <wsdl:part element="tns:payoutByteArrayResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DuebillProxyPortType">
    <wsdl:operation name="payoutByteArray">
      <wsdl:input message="tns:payoutByteArrayRequest" name="payoutByteArrayRequest">
    </wsdl:input>
      <wsdl:output message="tns:payoutByteArrayResponse" name="payoutByteArrayResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DuebillProxyHttpBinding" type="tns:DuebillProxyPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="payoutByteArray">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="payoutByteArrayRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="payoutByteArrayResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DuebillProxy">
    <wsdl:port binding="tns:DuebillProxyHttpBinding" name="DuebillProxyHttpPort">
      <wsdlsoap:address location="http://192.34.3.164:8080/easylcs/services/DuebillProxy"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
