crms/com.primeton.tsl/src/com/primeton/tsl/TcloaninfoProxy.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://webservice.lcs.easyloan.git.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservice.lcs.easyloan.git.com">
  <wsdl:types>
<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice.lcs.easyloan.git.com">
<xsd:element name="outByteArray">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:base64Binary"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="outByteArrayResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:base64Binary"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="outByteArrayResponse">
    <wsdl:part element="tns:outByteArrayResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="outByteArrayRequest">
    <wsdl:part element="tns:outByteArray" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TcloaninfoProxyPortType">
    <wsdl:operation name="outByteArray">
      <wsdl:input message="tns:outByteArrayRequest" name="outByteArrayRequest">
    </wsdl:input>
      <wsdl:output message="tns:outByteArrayResponse" name="outByteArrayResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TcloaninfoProxyHttpBinding" type="tns:TcloaninfoProxyPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="outByteArray">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="outByteArrayRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="outByteArrayResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TcloaninfoProxy">
    <wsdl:port binding="tns:TcloaninfoProxyHttpBinding" name="TcloaninfoProxyHttpPort">
      <wsdlsoap:address location="http://192.34.3.164:8080/easylcs/services/TcloaninfoProxy"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
