crms/com.bos.pay/src/WdtoLoanServiceImplServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:nns="http://www.primeton.com/WdtoLoanServiceImplService" xmlns:ns1="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://gjService.bos.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WdtoLoanServiceImplServiceService" targetNamespace="http://www.primeton.com/WdtoLoanServiceImplService">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://gjService.bos.com">
      <xsd:complexType name="D003RequestBody">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="contractNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="loanAmt" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="loanTerm" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestHeader">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="beginRec" type="ns1:int"/>
          <xsd:element minOccurs="0" name="brch" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="chanlNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="fileHMac" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hmac" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="maxRec" type="ns1:int"/>
          <xsd:element minOccurs="0" name="oper" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="reqDate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="reqSecCode" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="reqSeqNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="reqSysCode" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="reqTime" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="sendFileName" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="termNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="txCode" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="txMode" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="txType" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="versionNo" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReqTranHeader">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="HAuthFlag" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HAuthSeri" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HAuthUserID" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HAuthVerfInfo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HBrchNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HCityCd" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HCombFlag" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HHostSeq" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HIntOrigMark" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HLegaObj" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HMsgRefNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HOriChnl" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HPinSeed" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HPwdFlag" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HRefDt" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HRefSeq" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HReserveLen" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HReserveMsg" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HSecFlag" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HSecInfoVerNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HSenderDate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HSenderSeq" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HSenderSvcCd" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HSvcInfo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HSvcVer" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HSysChnl" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HTermNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HTxnCd" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HTxnMod" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HUserID" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D003Request">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="reqTranHeader" nillable="true" type="ns2:ReqTranHeader"/>
          <xsd:element minOccurs="0" name="requestBody" nillable="true" type="ns2:D003RequestBody"/>
          <xsd:element minOccurs="0" name="requestHeader" nillable="true" type="ns2:RequestHeader"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ResponseHeader">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="currNum" type="ns1:int"/>
          <xsd:element minOccurs="0" name="fileHMac" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hmac" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="recvFileName" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="reqDate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="reqSecCode" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="reqSeqNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="reqSysCode" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="reqTime" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="svrDate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="svrSeqNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="svrTime" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="totNum" type="ns1:int"/>
          <xsd:element minOccurs="0" name="txCode" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="txMode" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="txType" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="versionNo" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RepayLoanList">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="advanceCapitalAmt" nillable="true" type="ns1:decimal"/>
          <xsd:element minOccurs="0" name="custName" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="dueNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="loanBeginDate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="loanEndDate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="orgNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="penaltyForAdv" nillable="true" type="ns1:decimal"/>
          <xsd:element minOccurs="0" name="realBnComInterest" nillable="true" type="ns1:decimal"/>
          <xsd:element minOccurs="0" name="realBnDelInterest" nillable="true" type="ns1:decimal"/>
          <xsd:element minOccurs="0" name="realBnNorInterest" nillable="true" type="ns1:decimal"/>
          <xsd:element minOccurs="0" name="realBnOverInterest" nillable="true" type="ns1:decimal"/>
          <xsd:element minOccurs="0" name="realBwComInterest" nillable="true" type="ns1:decimal"/>
          <xsd:element minOccurs="0" name="realBwDelInterest" nillable="true" type="ns1:decimal"/>
          <xsd:element minOccurs="0" name="realBwNorInterest" nillable="true" type="ns1:decimal"/>
          <xsd:element minOccurs="0" name="realBwOverInterest" nillable="true" type="ns1:decimal"/>
          <xsd:element minOccurs="0" name="realCapitalAmt" nillable="true" type="ns1:decimal"/>
          <xsd:element minOccurs="0" name="repaymentAccount" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="repaymentAccountName" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="repaymentDate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="repaymentType" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="verificationAmt" nillable="true" type="ns1:decimal"/>
          <xsd:element minOccurs="0" name="verificationInterest" nillable="true" type="ns1:decimal"/>
          <xsd:element minOccurs="0" name="verificationYjInterest" nillable="true" type="ns1:decimal"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfRepayLoanList">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="RepayLoanList" nillable="true" type="ns2:RepayLoanList"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ResTranHeader">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="HAcountDt" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HAssiInfo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HChkFlag" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HChkTxnCd" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HCombFlag" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HErrTranNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HIdentFlag" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HMsgRefNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HNextStep" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HRefDt" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HRefSeq" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HRefTxnCd" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HRetCode" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HRetMsg" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HRetNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HRetResInfo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HSecFlag" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HSecInfoVerNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HServerDt" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HServerSeq" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HServerTm" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HSuperFlag" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HTranRes" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HVchChk" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HVerfCd" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="HWarnMsg" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D008Response">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="resTranHeader" nillable="true" type="ns2:ResTranHeader"/>
          <xsd:element minOccurs="0" name="responseBody" nillable="true" type="ns2:ArrayOfRepayLoanList"/>
          <xsd:element minOccurs="0" name="responseHeader" nillable="true" type="ns2:ResponseHeader"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D009RequestBody">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="contractNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="ecifPartyNum" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D009Request">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="reqTranHeader" nillable="true" type="ns2:ReqTranHeader"/>
          <xsd:element minOccurs="0" name="requestBody" nillable="true" type="ns2:D009RequestBody"/>
          <xsd:element minOccurs="0" name="requestHeader" nillable="true" type="ns2:RequestHeader"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D011RequestBody">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="payPrimAcct" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="payPrimName" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="summaryNum" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D011Request">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="reqTranHeader" nillable="true" type="ns2:ReqTranHeader"/>
          <xsd:element minOccurs="0" name="requestBody" nillable="true" type="ns2:D011RequestBody"/>
          <xsd:element minOccurs="0" name="requestHeader" nillable="true" type="ns2:RequestHeader"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D006ResponseBody">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="adjOtdCpd" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="adjOtdPns" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="currPrjItr" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="currPrjPrn" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="devaSts" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="dftPrnBal" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="padUpAmt" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="rcvCpdItrIn" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="rcvDftItrIn" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="rcvNorItrIn" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="rcvPnsItrIn" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="rcvPrn" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="resNor" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="totPrnItr" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D006Response">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="resTranHeader" nillable="true" type="ns2:ResTranHeader"/>
          <xsd:element minOccurs="0" name="responseBody" nillable="true" type="ns2:D006ResponseBody"/>
          <xsd:element minOccurs="0" name="responseHeader" nillable="true" type="ns2:ResponseHeader"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D010RequestBody">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="applyStatus" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="ecifPartyNum" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D010Request">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="reqTranHeader" nillable="true" type="ns2:ReqTranHeader"/>
          <xsd:element minOccurs="0" name="requestBody" nillable="true" type="ns2:D010RequestBody"/>
          <xsd:element minOccurs="0" name="requestHeader" nillable="true" type="ns2:RequestHeader"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D004ResponseBody">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="begDate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="brwName" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="conNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="dueNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="endDate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="padUpAmt" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="padUpDftItrIn" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="padUpNorItrIn" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="padUpPentIcm" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="padUpPnsItrIn" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="padUpPrn" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="payOrder" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="payPrimAcct" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="payPrimName" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="rcvDftItrIn" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="rcvNorItrIn" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="rcvPnsItrIn" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="rcvPrn" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="sts" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="telNo" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D004Response">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="resTranHeader" nillable="true" type="ns2:ResTranHeader"/>
          <xsd:element minOccurs="0" name="responseBody" nillable="true" type="ns2:D004ResponseBody"/>
          <xsd:element minOccurs="0" name="responseHeader" nillable="true" type="ns2:ResponseHeader"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D003ResponseBody">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="loanNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="summaryNum" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D003Response">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="resTranHeader" nillable="true" type="ns2:ResTranHeader"/>
          <xsd:element minOccurs="0" name="responseBody" nillable="true" type="ns2:D003ResponseBody"/>
          <xsd:element minOccurs="0" name="responseHeader" nillable="true" type="ns2:ResponseHeader"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ConList">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="aviLimit" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="conEndDate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="conStartDate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="conStatus" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="conUsedLimit" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="contractNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="custName" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="ecifPartyNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="payAccNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="rate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="repaymentType" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="term" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="totalLimit" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfConList">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ConList" nillable="true" type="ns2:ConList"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D005Response">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="resTranHeader" nillable="true" type="ns2:ResTranHeader"/>
          <xsd:element minOccurs="0" name="responseBody" nillable="true" type="ns2:ArrayOfConList"/>
          <xsd:element minOccurs="0" name="responseHeader" nillable="true" type="ns2:ResponseHeader"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LoanList">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="custName" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="dueNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="loanAmt" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="loanBeginDate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="loanEndDate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="loanOrg" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="normalRate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="overRate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="paybackWay" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfLoanList">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="LoanList" nillable="true" type="ns2:LoanList"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D007Response">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="resTranHeader" nillable="true" type="ns2:ResTranHeader"/>
          <xsd:element minOccurs="0" name="responseBody" nillable="true" type="ns2:ArrayOfLoanList"/>
          <xsd:element minOccurs="0" name="responseHeader" nillable="true" type="ns2:ResponseHeader"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D006RequestBody">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="dueNum" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D006Request">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="reqTranHeader" nillable="true" type="ns2:ReqTranHeader"/>
          <xsd:element minOccurs="0" name="requestBody" nillable="true" type="ns2:D006RequestBody"/>
          <xsd:element minOccurs="0" name="requestHeader" nillable="true" type="ns2:RequestHeader"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D005RequestBody">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ecifPartyNum" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D005Request">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="reqTranHeader" nillable="true" type="ns2:ReqTranHeader"/>
          <xsd:element minOccurs="0" name="requestBody" nillable="true" type="ns2:D005RequestBody"/>
          <xsd:element minOccurs="0" name="requestHeader" nillable="true" type="ns2:RequestHeader"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D011ResponseBody"/>
      <xsd:complexType name="D011Response">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="resTranHeader" nillable="true" type="ns2:ResTranHeader"/>
          <xsd:element minOccurs="0" name="responseBody" nillable="true" type="ns2:D011ResponseBody"/>
          <xsd:element minOccurs="0" name="responseHeader" nillable="true" type="ns2:ResponseHeader"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SummaryList">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="bizNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="contractNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="custName" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="ecifPartyNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="firstPayBackZhmc" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="loanAmt" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="loanBalance" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="loanEndDate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="loanStartDate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="loanStatus" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="secondPayBackZhmc" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="thirdPayBackZhzh" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfSummaryList">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="SummaryList" nillable="true" type="ns2:SummaryList"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D009Response">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="resTranHeader" nillable="true" type="ns2:ResTranHeader"/>
          <xsd:element minOccurs="0" name="responseBody" nillable="true" type="ns2:ArrayOfSummaryList"/>
          <xsd:element minOccurs="0" name="responseHeader" nillable="true" type="ns2:ResponseHeader"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D007RequestBody">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="begDate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="dueNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="endDate" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D007Request">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="reqTranHeader" nillable="true" type="ns2:ReqTranHeader"/>
          <xsd:element minOccurs="0" name="requestBody" nillable="true" type="ns2:D007RequestBody"/>
          <xsd:element minOccurs="0" name="requestHeader" nillable="true" type="ns2:RequestHeader"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D002RequestBody">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ajustType" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="amt" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="applyDate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="applyRate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="applyXwTerm" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="ecifPartyNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="firstPayBackZhkhjg" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="firstPayBackZhmc" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="firstPayBackZhstatus" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="firstPayBackZhzh" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="guarantyType" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="loanTurn" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="loanUse" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="newProductType" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="orgNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="payment" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="payway" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="prepaymentPenalty" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="productType" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="repaymentType" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="secondPayBackZhkhjg" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="secondPayBackZhmc" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="secondPayBackZhstatus" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="secondPayBackZhzh" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="signPlace" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="source" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="thirdPayBackZhkhjg" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="thirdPayBackZhmc" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="thirdPayBackZhstatus" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="thirdPayBackZhzh" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="upgradeType" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="userNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="wybcbl" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="zhkhjg" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="zhmc" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="zhzh" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="zhzt" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D002Request">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="reqTranHeader" nillable="true" type="ns2:ReqTranHeader"/>
          <xsd:element minOccurs="0" name="requestBody" nillable="true" type="ns2:D002RequestBody"/>
          <xsd:element minOccurs="0" name="requestHeader" nillable="true" type="ns2:RequestHeader"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D001RequestBody">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="cerNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="ecifPartyNum" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D001Request">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="reqTranHeader" nillable="true" type="ns2:ReqTranHeader"/>
          <xsd:element minOccurs="0" name="requestBody" nillable="true" type="ns2:D001RequestBody"/>
          <xsd:element minOccurs="0" name="requestHeader" nillable="true" type="ns2:RequestHeader"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D004RequestBody">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="dueNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="padUpAmt" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="padUpPentIcm" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="payOrder" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="payOutItrFlg" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="prinPlanFlg" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="wdFlowNo" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D004Request">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="reqTranHeader" nillable="true" type="ns2:ReqTranHeader"/>
          <xsd:element minOccurs="0" name="requestBody" nillable="true" type="ns2:D004RequestBody"/>
          <xsd:element minOccurs="0" name="requestHeader" nillable="true" type="ns2:RequestHeader"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BizInfoList">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="applyAmt" nillable="true" type="ns1:decimal"/>
          <xsd:element minOccurs="0" name="applyDate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="applyId" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="applyRate" nillable="true" type="ns1:decimal"/>
          <xsd:element minOccurs="0" name="applyStatus" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="applyXwTerm" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="ecifPartyNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="errorMsg" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="firstPayBackZhzh" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="loanUse" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="orgName" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="payment" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="phoneNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="repaymentType" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="secondPayBackZhzh" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="thirdPayBackZhzh" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="userName" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="zhzh" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfBizInfoList">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="BizInfoList" nillable="true" type="ns2:BizInfoList"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D010Response">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="resTranHeader" nillable="true" type="ns2:ResTranHeader"/>
          <xsd:element minOccurs="0" name="responseBody" nillable="true" type="ns2:ArrayOfBizInfoList"/>
          <xsd:element minOccurs="0" name="responseHeader" nillable="true" type="ns2:ResponseHeader"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D002ResponseBody">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="bizNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="contractNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="ecifPartyNum" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D002Response">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="resTranHeader" nillable="true" type="ns2:ResTranHeader"/>
          <xsd:element minOccurs="0" name="responseBody" nillable="true" type="ns2:D002ResponseBody"/>
          <xsd:element minOccurs="0" name="responseHeader" nillable="true" type="ns2:ResponseHeader"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D001ResponseBody">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="aviLimit" nillable="true" type="ns1:decimal"/>
          <xsd:element minOccurs="0" name="cerNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="cerType" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="cusName" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="ecifPartyNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="orgCode" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="rate" nillable="true" type="ns1:decimal"/>
          <xsd:element minOccurs="0" name="totalLimit" nillable="true" type="ns1:decimal"/>
          <xsd:element minOccurs="0" name="usedLimit" nillable="true" type="ns1:decimal"/>
          <xsd:element minOccurs="0" name="userId" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D001Response">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="resTranHeader" nillable="true" type="ns2:ResTranHeader"/>
          <xsd:element minOccurs="0" name="responseBody" nillable="true" type="ns2:D001ResponseBody"/>
          <xsd:element minOccurs="0" name="responseHeader" nillable="true" type="ns2:ResponseHeader"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D008RequestBody">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="begDate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="dueNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="endDate" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="D008Request">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="reqTranHeader" nillable="true" type="ns2:ReqTranHeader"/>
          <xsd:element minOccurs="0" name="requestBody" nillable="true" type="ns2:D008RequestBody"/>
          <xsd:element minOccurs="0" name="requestHeader" nillable="true" type="ns2:RequestHeader"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.primeton.com/WdtoLoanServiceImplService">
      <xsd:element name="executeD001">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="in0" nillable="true" type="ns2:D001Request"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeD001Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="out1" nillable="true" type="ns2:D001Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeD002">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="in0" nillable="true" type="ns2:D002Request"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeD002Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="out1" nillable="true" type="ns2:D002Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeD008">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="in0" nillable="true" type="ns2:D008Request"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeD008Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="out1" nillable="true" type="ns2:D008Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeD005">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="in0" nillable="true" type="ns2:D005Request"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeD005Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="out1" nillable="true" type="ns2:D005Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeD006">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="in0" nillable="true" type="ns2:D006Request"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeD006Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="out1" nillable="true" type="ns2:D006Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeD007">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="in0" nillable="true" type="ns2:D007Request"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeD007Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="out1" nillable="true" type="ns2:D007Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeD009">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="in0" nillable="true" type="ns2:D009Request"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeD009Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="out1" nillable="true" type="ns2:D009Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeD004">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="in0" nillable="true" type="ns2:D004Request"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeD004Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="out1" nillable="true" type="ns2:D004Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeD003">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="in0" nillable="true" type="ns2:D003Request"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeD003Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="out1" nillable="true" type="ns2:D003Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeD010">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="in0" nillable="true" type="ns2:D010Request"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeD010Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="out1" nillable="true" type="ns2:D010Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeD011">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="in0" nillable="true" type="ns2:D011Request"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeD011Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="out1" nillable="true" type="ns2:D011Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="executeD008Response">
    <wsdl:part element="nns:executeD008Response" name="executeD008Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeD009Response">
    <wsdl:part element="nns:executeD009Response" name="executeD009Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeD006Response">
    <wsdl:part element="nns:executeD006Response" name="executeD006Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeD003Response">
    <wsdl:part element="nns:executeD003Response" name="executeD003Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeD001Response">
    <wsdl:part element="nns:executeD001Response" name="executeD001Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeD004Response">
    <wsdl:part element="nns:executeD004Response" name="executeD004Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeD002Response">
    <wsdl:part element="nns:executeD002Response" name="executeD002Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeD009">
    <wsdl:part element="nns:executeD009" name="executeD009">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeD008">
    <wsdl:part element="nns:executeD008" name="executeD008">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeD007">
    <wsdl:part element="nns:executeD007" name="executeD007">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeD010">
    <wsdl:part element="nns:executeD010" name="executeD010">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeD011">
    <wsdl:part element="nns:executeD011" name="executeD011">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeD010Response">
    <wsdl:part element="nns:executeD010Response" name="executeD010Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeD007Response">
    <wsdl:part element="nns:executeD007Response" name="executeD007Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeD002">
    <wsdl:part element="nns:executeD002" name="executeD002">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeD005Response">
    <wsdl:part element="nns:executeD005Response" name="executeD005Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeD001">
    <wsdl:part element="nns:executeD001" name="executeD001">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeD006">
    <wsdl:part element="nns:executeD006" name="executeD006">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeD005">
    <wsdl:part element="nns:executeD005" name="executeD005">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeD004">
    <wsdl:part element="nns:executeD004" name="executeD004">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeD011Response">
    <wsdl:part element="nns:executeD011Response" name="executeD011Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeD003">
    <wsdl:part element="nns:executeD003" name="executeD003">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WdtoLoanServiceImplService">
    <wsdl:operation name="executeD001">
      <wsdl:input message="nns:executeD001" name="executeD001">
    </wsdl:input>
      <wsdl:output message="nns:executeD001Response" name="executeD001Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeD002">
      <wsdl:input message="nns:executeD002" name="executeD002">
    </wsdl:input>
      <wsdl:output message="nns:executeD002Response" name="executeD002Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeD008">
      <wsdl:input message="nns:executeD008" name="executeD008">
    </wsdl:input>
      <wsdl:output message="nns:executeD008Response" name="executeD008Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeD005">
      <wsdl:input message="nns:executeD005" name="executeD005">
    </wsdl:input>
      <wsdl:output message="nns:executeD005Response" name="executeD005Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeD006">
      <wsdl:input message="nns:executeD006" name="executeD006">
    </wsdl:input>
      <wsdl:output message="nns:executeD006Response" name="executeD006Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeD007">
      <wsdl:input message="nns:executeD007" name="executeD007">
    </wsdl:input>
      <wsdl:output message="nns:executeD007Response" name="executeD007Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeD009">
      <wsdl:input message="nns:executeD009" name="executeD009">
    </wsdl:input>
      <wsdl:output message="nns:executeD009Response" name="executeD009Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeD004">
      <wsdl:input message="nns:executeD004" name="executeD004">
    </wsdl:input>
      <wsdl:output message="nns:executeD004Response" name="executeD004Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeD003">
      <wsdl:input message="nns:executeD003" name="executeD003">
    </wsdl:input>
      <wsdl:output message="nns:executeD003Response" name="executeD003Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeD010">
      <wsdl:input message="nns:executeD010" name="executeD010">
    </wsdl:input>
      <wsdl:output message="nns:executeD010Response" name="executeD010Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeD011">
      <wsdl:input message="nns:executeD011" name="executeD011">
    </wsdl:input>
      <wsdl:output message="nns:executeD011Response" name="executeD011Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WdtoLoanServiceImplServiceBinding" type="nns:WdtoLoanServiceImplService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="executeD001">
      <soap:operation soapAction=""/>
      <wsdl:input name="executeD001">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="executeD001Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeD002">
      <soap:operation soapAction=""/>
      <wsdl:input name="executeD002">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="executeD002Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeD008">
      <soap:operation soapAction=""/>
      <wsdl:input name="executeD008">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="executeD008Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeD005">
      <soap:operation soapAction=""/>
      <wsdl:input name="executeD005">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="executeD005Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeD006">
      <soap:operation soapAction=""/>
      <wsdl:input name="executeD006">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="executeD006Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeD007">
      <soap:operation soapAction=""/>
      <wsdl:input name="executeD007">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="executeD007Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeD009">
      <soap:operation soapAction=""/>
      <wsdl:input name="executeD009">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="executeD009Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeD004">
      <soap:operation soapAction=""/>
      <wsdl:input name="executeD004">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="executeD004Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeD003">
      <soap:operation soapAction=""/>
      <wsdl:input name="executeD003">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="executeD003Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeD010">
      <soap:operation soapAction=""/>
      <wsdl:input name="executeD010">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="executeD010Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="executeD011">
      <soap:operation soapAction=""/>
      <wsdl:input name="executeD011">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="executeD011Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WdtoLoanServiceImplServiceService">
    <wsdl:port binding="nns:WdtoLoanServiceImplServiceBinding" name="WdtoLoanServiceImplServicePort">
      <soap:address location="http://localhost:8080/default/WdtoLoanServiceImplService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
