crms/com.primeton.tsl/src/com/primeton/tsl/ecif/CRMS_SVR_S0110101000A102.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:adtec="http://www.adtec.com.cn" targetNamespace="http://www.adtec.com.cn"  >
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.adtec.com.cn" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:complexType name="FMT_SOAP_UTF8_RequestHeader">
			<xsd:sequence>
				<xsd:element minOccurs="0"  name="VersionNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>版本号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="ReqSysCode" type="xsd:string" >
					<xsd:annotation><xsd:documentation>请求方系统代码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="ReqSecCode" type="xsd:string" >
					<xsd:annotation><xsd:documentation>安全节点号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="TxType" type="xsd:string" >
					<xsd:annotation><xsd:documentation>RQ</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="TxMode" type="xsd:string" >
					<xsd:annotation><xsd:documentation>0-正常 1-冲销2-冲正 3-重发</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="TxCode" type="xsd:string" >
					<xsd:annotation><xsd:documentation>soapenv服务码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="ReqDate" type="xsd:string" >
					<xsd:annotation><xsd:documentation>业务日期</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="ReqTime" type="xsd:string" >
					<xsd:annotation><xsd:documentation>机器时间戳</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="ReqSeqNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>请求方交易流水号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="ChanlNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>渠道号（字符）</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="Brch" type="xsd:string" >
					<xsd:annotation><xsd:documentation>机构编号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="TermNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>终端号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="Oper" type="xsd:string" >
					<xsd:annotation><xsd:documentation>柜员</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="SendFileName" type="xsd:string" >
					<xsd:annotation><xsd:documentation>发送文件名</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="BeginRec" type="xsd:string" >
					<xsd:annotation><xsd:documentation>开始记录数</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="MaxRec" type="xsd:integer" >
					<xsd:annotation><xsd:documentation>一次查询最大记录数</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="FileHMac" type="xsd:string" >
					<xsd:annotation><xsd:documentation>文件摘要</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HMac" type="xsd:string" >
					<xsd:annotation><xsd:documentation>报文摘要</xsd:documentation></xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="FMT_SOAP_UTF8_ReqTranHeader">
			<xsd:sequence>
				<xsd:element minOccurs="0"  name="HPinSeed" type="xsd:string" >
					<xsd:annotation><xsd:documentation>PIN种子</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HOriChnl" type="xsd:string" >
					<xsd:annotation><xsd:documentation>渠道来源</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HSecFlag" type="xsd:string" >
					<xsd:annotation><xsd:documentation>加密标志</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HPwdFlag" type="xsd:string" >
					<xsd:annotation><xsd:documentation>PIN标志</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HCombFlag" type="xsd:string" >
					<xsd:annotation><xsd:documentation>组合标志</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HSvcInfo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>主机服务名</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HSecInfoVerNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>密钥版本号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HSysChnl" type="xsd:string" >
					<xsd:annotation><xsd:documentation>系统渠道号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HLegaObj" type="xsd:string" >
					<xsd:annotation><xsd:documentation>法人代码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HMsgRefNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>报文跟踪号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HintOrigMark" type="xsd:integer" >
					<xsd:annotation><xsd:documentation>HintOrigMark</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HTermNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>终端号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HCityCd" type="xsd:string" >
					<xsd:annotation><xsd:documentation>城市代码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HCommitFlag" type="xsd:string" >
					<xsd:annotation><xsd:documentation>二次提交标志</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HBrchNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>机构代码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HUserID" type="xsd:string" >
					<xsd:annotation><xsd:documentation>交易柜员</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HTxnCd" type="xsd:string" >
					<xsd:annotation><xsd:documentation>交易代码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HTxnMod" type="xsd:string" >
					<xsd:annotation><xsd:documentation>交易模式</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HReserveLen" type="xsd:string" >
					<xsd:annotation><xsd:documentation>本交易包长度</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HSenderSvcCd" type="xsd:string" >
					<xsd:annotation><xsd:documentation>前台交易码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HSenderSeq" type="xsd:string" >
					<xsd:annotation><xsd:documentation>前台流水号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HSenderDate" type="xsd:string" >
					<xsd:annotation><xsd:documentation>前台日期</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HAuthUserID" type="xsd:string" >
					<xsd:annotation><xsd:documentation>授权柜员</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HAuthVerfInfo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>授权密码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HAuthFlag" type="xsd:string" >
					<xsd:annotation><xsd:documentation>授权柜员有无卡标志</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HRefSeq" type="xsd:string" >
					<xsd:annotation><xsd:documentation>第三方流水</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HAuthSeri" type="xsd:string" >
					<xsd:annotation><xsd:documentation>授权柜员卡序号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HHostSeq" type="xsd:string" >
					<xsd:annotation><xsd:documentation>后台柜员流水号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HRefDt" type="xsd:string" >
					<xsd:annotation><xsd:documentation>第三方日期</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HSvcVer" type="xsd:string" >
					<xsd:annotation><xsd:documentation>交易接口版本号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HreserveMsg" type="xsd:string" >
					<xsd:annotation><xsd:documentation>上送交易头保留</xsd:documentation></xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="FMT_CRMS_SVR_S0110101000A102_IN">
			<xsd:sequence>
				<xsd:element minOccurs="0"  name="RESOLVE_TYPE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>客户识别方式</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="ECIF_CUST_NO" type="xsd:string" >
					<xsd:annotation><xsd:documentation>客户编号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="PARTY_NAME" type="xsd:string" >
					<xsd:annotation><xsd:documentation>客户名称</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CERT_TYPE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>证件类型</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CERT_NO" type="xsd:string" >
					<xsd:annotation><xsd:documentation>证件号码</xsd:documentation></xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="FMT_SOAP_UTF8_ResponseHeader">
			<xsd:sequence>
				<xsd:element minOccurs="0"  name="VersionNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>版本号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="ReqSysCode" type="xsd:string" >
					<xsd:annotation><xsd:documentation>请求方系统代码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="ReqSecCode" type="xsd:string" >
					<xsd:annotation><xsd:documentation>安全节点号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="TxType" type="xsd:string" >
					<xsd:annotation><xsd:documentation>RP</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="TxMode" type="xsd:string" >
					<xsd:annotation><xsd:documentation>0-正常 1-冲销2-冲正 3-重发</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="TxCode" type="xsd:string" >
					<xsd:annotation><xsd:documentation>ESB服务码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="ReqDate" type="xsd:string" >
					<xsd:annotation><xsd:documentation>请求方交易日期</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="ReqTime" type="xsd:string" >
					<xsd:annotation><xsd:documentation>请求方交易时间戳</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="ReqSeqNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>请求方交易流水号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="SvrDate" type="xsd:string" >
					<xsd:annotation><xsd:documentation>服务方交易日期</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="SvrTime" type="xsd:string" >
					<xsd:annotation><xsd:documentation>服务方交易时间戳</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="SvrSeqNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>服务方交易流水号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="RecvFileName" type="xsd:string" >
					<xsd:annotation><xsd:documentation>接收文件各</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="TotNum" type="xsd:string" >
					<xsd:annotation><xsd:documentation>查询总记录数</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CurrNum" type="xsd:string" >
					<xsd:annotation><xsd:documentation>当前查询返回记录数</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="FileHMac" type="xsd:string" >
					<xsd:annotation><xsd:documentation>文件摘要</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HMac" type="xsd:string" >
					<xsd:annotation><xsd:documentation>报文摘要</xsd:documentation></xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="FMT_SOAP_UTF8_ResTranHeader">
			<xsd:sequence>
				<xsd:element minOccurs="0"  name="HSecFlag" type="xsd:string" >
					<xsd:annotation><xsd:documentation>加密标志</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HCombFlag" type="xsd:string" >
					<xsd:annotation><xsd:documentation>组合标志</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HSvcInfo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>主机服务名</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HSecInfoVerNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>密钥版本号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HMsgRefNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>报文跟踪号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HIdentFlag" type="xsd:string" >
					<xsd:annotation><xsd:documentation>验印标志</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HSuperFlag" type="xsd:string" >
					<xsd:annotation><xsd:documentation>是否外汇监管标志</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HChkFlag" type="xsd:string" >
					<xsd:annotation><xsd:documentation>监督复核标志</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HChkTxnCd" type="xsd:string" >
					<xsd:annotation><xsd:documentation>复核交易码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HVerfCd" type="xsd:string" >
					<xsd:annotation><xsd:documentation>凭证校验码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HTranRes" type="xsd:string" >
					<xsd:annotation><xsd:documentation>系统保留</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HRefTxnCd" type="xsd:string" >
					<xsd:annotation><xsd:documentation>联动交易码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HServerDt" type="xsd:string" >
					<xsd:annotation><xsd:documentation>交易日期</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HServerTm" type="xsd:string" >
					<xsd:annotation><xsd:documentation>交易时间</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HServerSeq" type="xsd:string" >
					<xsd:annotation><xsd:documentation>柜员流水号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HAcountDt" type="xsd:string" >
					<xsd:annotation><xsd:documentation>会计日期</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HRefSeq" type="xsd:string" >
					<xsd:annotation><xsd:documentation>第三方流水号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HRefDt" type="xsd:string" >
					<xsd:annotation><xsd:documentation>第三方日期</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HNextStep" type="xsd:string" >
					<xsd:annotation><xsd:documentation>下一交易码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HVchChk" type="xsd:string" >
					<xsd:annotation><xsd:documentation>凭证校验</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HRetResInfo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>返回交易头保留</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HErrTranNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>出错交易序号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HAssiInfo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>通知前台不打印列表</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HRetCode" type="xsd:string" >
					<xsd:annotation><xsd:documentation>错误代号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HRetNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>错误编号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HRetMsg" type="xsd:string" >
					<xsd:annotation><xsd:documentation>错误信息</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HWarnMsg" type="xsd:string" >
					<xsd:annotation><xsd:documentation>警告信息</xsd:documentation></xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="FMT_CRMS_SVR_S0110101000A102_OUT">
			<xsd:sequence>
				<xsd:element minOccurs="0"  name="ECIF_CUST_NO" type="xsd:string" >
					<xsd:annotation><xsd:documentation>客户编号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="PARTY_NAME" type="xsd:string" >
					<xsd:annotation><xsd:documentation>客户名称</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CERT_TYPE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>证件类型</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CERT_NO" type="xsd:string" >
					<xsd:annotation><xsd:documentation>证件号码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CERT_ORG_NAT" type="xsd:string" >
					<xsd:annotation><xsd:documentation>发证机关国家</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CERT_ORG_AREA" type="xsd:string" >
					<xsd:annotation><xsd:documentation>发证机关所在地区</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CERT_ORG_NAME" type="xsd:string" >
					<xsd:annotation><xsd:documentation>发证机关名称</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CERT_ISSUE_DATE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>证件签发日期</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CERT_DUE_DATE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>证件到期日期</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CERT_EDIT_NO" type="xsd:string" >
					<xsd:annotation><xsd:documentation>证件版本号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CERT_ORG_NO" type="xsd:string" >
					<xsd:annotation><xsd:documentation>当次申请受理机关代码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CERT_TYPE_FLAG" type="xsd:string" >
					<xsd:annotation><xsd:documentation>证件类型标识</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CERT_SUB_TYPE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>证件细分类型</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CERT_IMG_ADDR" type="xsd:string" >
					<xsd:annotation><xsd:documentation>证件影像地址</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CERT_DESC" type="xsd:string" >
					<xsd:annotation><xsd:documentation>证件其它说明</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CUST_ENNAME" type="xsd:string" >
					<xsd:annotation><xsd:documentation>英文名称</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CUST_SPNAME" type="xsd:string" >
					<xsd:annotation><xsd:documentation>拼音名称</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CUST_BNAME" type="xsd:string" >
					<xsd:annotation><xsd:documentation>客户曾用名</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CUST_CALL" type="xsd:string" >
					<xsd:annotation><xsd:documentation>客户称谓</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="GENDER_CODE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>性别</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="PEOPLE_CODE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>民族</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="BIRTH_DATE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>出生日期</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="BIRTH_PLACE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>出生地点</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HEALTH_STATE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>健康状况</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="MARITAL_STAT" type="xsd:string" >
					<xsd:annotation><xsd:documentation>婚姻状态</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CHILDREN_STATE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>子女状况</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="NAT_CODE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>国籍</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="NAT_FULL" type="xsd:string" >
					<xsd:annotation><xsd:documentation>国籍全称1</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="NATIVE_AREA" type="xsd:string" >
					<xsd:annotation><xsd:documentation>籍贯</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="RGSTER_AREA" type="xsd:string" >
					<xsd:annotation><xsd:documentation>户籍所在地</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="LANGUAGE_CODE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>语言习惯</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HOBB_INTRST" type="xsd:string" >
					<xsd:annotation><xsd:documentation>兴趣爱好</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="RELIG_CODE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>宗教信仰</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="POLIT_STAT" type="xsd:string" >
					<xsd:annotation><xsd:documentation>政治面貌</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="EDU_STATE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>教育程度</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HIGHEST_DEGREE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>最高学位</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="GRADUATION_SCHOLL" type="xsd:string" >
					<xsd:annotation><xsd:documentation>毕业院校</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="SPECIALTY" type="xsd:string" >
					<xsd:annotation><xsd:documentation>所学专业</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="GRAD_DATE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>毕业时间</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="RSDT_TYPE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>居民性质</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="RSDT_ATTR" type="xsd:string" >
					<xsd:annotation><xsd:documentation>居民属性</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="DOM_FORGN_CD" type="xsd:string" >
					<xsd:annotation><xsd:documentation>境内外标识</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="PMT_RSDT_FLAG" type="xsd:string" >
					<xsd:annotation><xsd:documentation>是否永久居住</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="COUNTRY_CODE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>居住国家代码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="LIVE_AREA_CODE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>居住地行政区划代码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="AREA_CODE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>所属地区代码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="RESIDE_START_TIME" type="xsd:string" >
					<xsd:annotation><xsd:documentation>本地居住开始时间</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="FARMER_FLAG" type="xsd:string" >
					<xsd:annotation><xsd:documentation>是否农户</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CUST_SUBJ_TYPE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>客户主体类型</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="PRIVATE_CAR_FLAG" type="xsd:string" >
					<xsd:annotation><xsd:documentation>是否有私家车</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="LIVG_CONDIT" type="xsd:string" >
					<xsd:annotation><xsd:documentation>居住状况</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="RESDT_TYPE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>住宅类型</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="IDVU_SCL_INSURS_NO" type="xsd:string" >
					<xsd:annotation><xsd:documentation>个人社会保险卡号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="SOCIALSB_NO" type="xsd:string" >
					<xsd:annotation><xsd:documentation>社保局编号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="SOCIALSB_NAME" type="xsd:string" >
					<xsd:annotation><xsd:documentation>社保局名称</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="IDVU_TX_NO" type="xsd:string" >
					<xsd:annotation><xsd:documentation>个人纳税号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="DUTY_FREE_FLAG" type="xsd:string" >
					<xsd:annotation><xsd:documentation>是否免税</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="TAX_RATE_COUNTRY" type="xsd:string" >
					<xsd:annotation><xsd:documentation>税率国别</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="INTEREST_RATE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>利息税率</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="TAX_RATE_DATE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>税率有效日期</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="MONTH_INCOME" type="xsd:string" >
					<xsd:annotation><xsd:documentation>个人月收入</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="YEAR_SALARY" type="xsd:string" >
					<xsd:annotation><xsd:documentation>个人年收入</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="ECON_RESUR" type="xsd:string" >
					<xsd:annotation><xsd:documentation>个人主要经济来源</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="PSN_ASSET_TYPE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>个人资产规模</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="NUM_DEPEND" type="xsd:string" >
					<xsd:annotation><xsd:documentation>抚养人数</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="FAM_MONTH" type="xsd:string" >
					<xsd:annotation><xsd:documentation>家庭月收入</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="FAM_YEAR" type="xsd:string" >
					<xsd:annotation><xsd:documentation>家庭年收入</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="FAM_ASSETS" type="xsd:string" >
					<xsd:annotation><xsd:documentation>家庭总资产</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="FAM_MEMB_TOTAL" type="xsd:string" >
					<xsd:annotation><xsd:documentation>家庭成员总数</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="UNIT_NAME" type="xsd:string" >
					<xsd:annotation><xsd:documentation>所在单位名称</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="UNIT_TYPE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>单位性质</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="INDUSTRY_TYPE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>从事行业类型</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="PROFESSION_CODE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>职业</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="JOB_LEVEL" type="xsd:string" >
					<xsd:annotation><xsd:documentation>职级</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="UNIT_POSITION" type="xsd:string" >
					<xsd:annotation><xsd:documentation>职务</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="TECH_TITLE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>职称</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="WORK_STAT" type="xsd:string" >
					<xsd:annotation><xsd:documentation>从业状况代码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="QUALFT_STAT" type="xsd:string" >
					<xsd:annotation><xsd:documentation>执业资格状况</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="WORK_START_DATE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>参加工作时间</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="UNIT_START_YEAR" type="xsd:string" >
					<xsd:annotation><xsd:documentation>本单位工作起始年份</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="BANK_REL_CODE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>与我行关系</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="SHAREHOLDER_FLAG" type="xsd:string" >
					<xsd:annotation><xsd:documentation>是否本行股东</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="STOCK_NUM" type="xsd:string" >
					<xsd:annotation><xsd:documentation>持股数</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="STOCK_ACCT" type="xsd:string" >
					<xsd:annotation><xsd:documentation>股权账号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CUST_FORE_EXCH_ATTR" type="xsd:string" >
					<xsd:annotation><xsd:documentation>客户外汇属性维护标志</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="EXT_CREDIT_LEVEL" type="xsd:string" >
					<xsd:annotation><xsd:documentation>外部信用等级</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CUAT_RISK_LEVEL" type="xsd:string" >
					<xsd:annotation><xsd:documentation>客户风险级别</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CREDIT_LEVEL" type="xsd:string" >
					<xsd:annotation><xsd:documentation>信用评级</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="GRADE_DATE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>评级日期</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="GRADE_DUE_DATE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>评级有效日期</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CUST_EVAL_LEVEL" type="xsd:string" >
					<xsd:annotation><xsd:documentation>客户综合评估级别</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CUST_LEVEL" type="xsd:string" >
					<xsd:annotation><xsd:documentation>客户等级</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="IDE_CHECK_FLAG" type="xsd:string" >
					<xsd:annotation><xsd:documentation>身份核查标志</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="IDE_CHECK_RESULT" type="xsd:string" >
					<xsd:annotation><xsd:documentation>公民身份联网核查结果</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="IDE_FALSE_REASON" type="xsd:string" >
					<xsd:annotation><xsd:documentation>公民身份无法核实原因</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CUST_MANAGER_NO" type="xsd:string" >
					<xsd:annotation><xsd:documentation>客户经理代码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CUST_MNG_NAME" type="xsd:string" >
					<xsd:annotation><xsd:documentation>客户经理名称</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="OWN_ORG" type="xsd:string" >
					<xsd:annotation><xsd:documentation>所属机构</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="OPEN_ORG" type="xsd:string" >
					<xsd:annotation><xsd:documentation>开户机构</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="OPEN_TELLER" type="xsd:string" >
					<xsd:annotation><xsd:documentation>开户柜员</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="OPEN_DATE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>开户日期</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="REAL_FULL_FLAG" type="xsd:string" >
					<xsd:annotation><xsd:documentation>实名制完整性标志</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="BAT_CUST_FLAG" type="xsd:string" >
					<xsd:annotation><xsd:documentation>批量客户标志</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CUST_STATUS" type="xsd:string" >
					<xsd:annotation><xsd:documentation>客户有效状态</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="LAST_SYSTEM_ID" type="xsd:string" >
					<xsd:annotation><xsd:documentation>最新更新渠道</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="LAST_UPDATED_TS" type="xsd:string" >
					<xsd:annotation><xsd:documentation>最新更新时间</xsd:documentation></xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="FMT_CRMS_SVR_S0110101000A102_ALL_IN">
		<wsdl:part name="RequestHeader" type="adtec:FMT_SOAP_UTF8_RequestHeader"/>
		<wsdl:part name="ReqTranHeader" type="adtec:FMT_SOAP_UTF8_ReqTranHeader"/>
		<wsdl:part name="RequestBody" type="adtec:FMT_CRMS_SVR_S0110101000A102_IN"/>
	</wsdl:message>
	<wsdl:message name="FMT_CRMS_SVR_S0110101000A102_ALL_OUT">
		<wsdl:part name="ResponseHeader" type="adtec:FMT_SOAP_UTF8_ResponseHeader"/>
		<wsdl:part name="ResTranHeader" type="adtec:FMT_SOAP_UTF8_ResTranHeader"/>
		<wsdl:part name="ResponseBody" type="adtec:FMT_CRMS_SVR_S0110101000A102_OUT"/>
	</wsdl:message>
	<wsdl:portType name="S0110101000A102Type">
		<wsdl:operation name="S0110101000A102">
			<wsdl:input message="adtec:FMT_CRMS_SVR_S0110101000A102_ALL_IN"/>
			<wsdl:output message="adtec:FMT_CRMS_SVR_S0110101000A102_ALL_OUT"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="S0110101000A102Binding" type="adtec:S0110101000A102Type">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="S0110101000A102">
			<soap:operation soapAction="http://172.16.205.87:12103/WebService/CRMS_SVR/S0110101000A102"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="S0110101000A102Service">
		<wsdl:port name="S0110101000A102Port" binding="adtec:S0110101000A102Binding">
			<soap:address location="http://172.16.205.87:12103/WebService/CRMS_SVR/S0110101000A102"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>