crms/com.primeton.tsl/src/com/primeton/tsl/ecif/CRMS_SVR_S0110102000B110.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:adtec="http://www.adtec.com.cn" targetNamespace="http://www.adtec.com.cn"  >
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.adtec.com.cn" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:complexType name="FMT_SOAP_UTF8_RequestHeader">
			<xsd:sequence>
				<xsd:element minOccurs="0"  name="VersionNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>版本号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="ReqSysCode" type="xsd:string" >
					<xsd:annotation><xsd:documentation>请求方系统代码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="ReqSecCode" type="xsd:string" >
					<xsd:annotation><xsd:documentation>安全节点号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="TxType" type="xsd:string" >
					<xsd:annotation><xsd:documentation>RQ</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="TxMode" type="xsd:string" >
					<xsd:annotation><xsd:documentation>0-正常 1-冲销2-冲正 3-重发</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="TxCode" type="xsd:string" >
					<xsd:annotation><xsd:documentation>soapenv服务码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="ReqDate" type="xsd:string" >
					<xsd:annotation><xsd:documentation>业务日期</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="ReqTime" type="xsd:string" >
					<xsd:annotation><xsd:documentation>机器时间戳</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="ReqSeqNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>请求方交易流水号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="ChanlNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>渠道号（字符）</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="Brch" type="xsd:string" >
					<xsd:annotation><xsd:documentation>机构编号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="TermNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>终端号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="Oper" type="xsd:string" >
					<xsd:annotation><xsd:documentation>柜员</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="SendFileName" type="xsd:string" >
					<xsd:annotation><xsd:documentation>发送文件名</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="BeginRec" type="xsd:string" >
					<xsd:annotation><xsd:documentation>开始记录数</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="MaxRec" type="xsd:integer" >
					<xsd:annotation><xsd:documentation>一次查询最大记录数</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="FileHMac" type="xsd:string" >
					<xsd:annotation><xsd:documentation>文件摘要</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HMac" type="xsd:string" >
					<xsd:annotation><xsd:documentation>报文摘要</xsd:documentation></xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="FMT_SOAP_UTF8_ReqTranHeader">
			<xsd:sequence>
				<xsd:element minOccurs="0"  name="HPinSeed" type="xsd:string" >
					<xsd:annotation><xsd:documentation>PIN种子</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HOriChnl" type="xsd:string" >
					<xsd:annotation><xsd:documentation>渠道来源</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HSecFlag" type="xsd:string" >
					<xsd:annotation><xsd:documentation>加密标志</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HPwdFlag" type="xsd:string" >
					<xsd:annotation><xsd:documentation>PIN标志</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HCombFlag" type="xsd:string" >
					<xsd:annotation><xsd:documentation>组合标志</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HSvcInfo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>主机服务名</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HSecInfoVerNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>密钥版本号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HSysChnl" type="xsd:string" >
					<xsd:annotation><xsd:documentation>系统渠道号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HLegaObj" type="xsd:string" >
					<xsd:annotation><xsd:documentation>法人代码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HMsgRefNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>报文跟踪号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HintOrigMark" type="xsd:integer" >
					<xsd:annotation><xsd:documentation>HintOrigMark</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HTermNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>终端号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HCityCd" type="xsd:string" >
					<xsd:annotation><xsd:documentation>城市代码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HCommitFlag" type="xsd:string" >
					<xsd:annotation><xsd:documentation>二次提交标志</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HBrchNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>机构代码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HUserID" type="xsd:string" >
					<xsd:annotation><xsd:documentation>交易柜员</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HTxnCd" type="xsd:string" >
					<xsd:annotation><xsd:documentation>交易代码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HTxnMod" type="xsd:string" >
					<xsd:annotation><xsd:documentation>交易模式</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HReserveLen" type="xsd:string" >
					<xsd:annotation><xsd:documentation>本交易包长度</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HSenderSvcCd" type="xsd:string" >
					<xsd:annotation><xsd:documentation>前台交易码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HSenderSeq" type="xsd:string" >
					<xsd:annotation><xsd:documentation>前台流水号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HSenderDate" type="xsd:string" >
					<xsd:annotation><xsd:documentation>前台日期</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HAuthUserID" type="xsd:string" >
					<xsd:annotation><xsd:documentation>授权柜员</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HAuthVerfInfo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>授权密码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HAuthFlag" type="xsd:string" >
					<xsd:annotation><xsd:documentation>授权柜员有无卡标志</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HRefSeq" type="xsd:string" >
					<xsd:annotation><xsd:documentation>第三方流水</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HAuthSeri" type="xsd:string" >
					<xsd:annotation><xsd:documentation>授权柜员卡序号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HHostSeq" type="xsd:string" >
					<xsd:annotation><xsd:documentation>后台柜员流水号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HRefDt" type="xsd:string" >
					<xsd:annotation><xsd:documentation>第三方日期</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HSvcVer" type="xsd:string" >
					<xsd:annotation><xsd:documentation>交易接口版本号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HreserveMsg" type="xsd:string" >
					<xsd:annotation><xsd:documentation>上送交易头保留</xsd:documentation></xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="FMT_CRMS_SVR_S0110102000B110_IN">
			<xsd:sequence>
				<xsd:element minOccurs="0"  name="RESOLVE_TYPE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>客户识别方式</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="ECIF_CUST_NO" type="xsd:string" >
					<xsd:annotation><xsd:documentation>客户编号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  maxOccurs="unbounded"  name="GRP_REL_PSN" type="adtec:FMT_CRMS_SVR_S0110102000B110_IN_SUB" >
					<xsd:annotation><xsd:documentation>S0110102000B110输入循环</xsd:documentation></xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="FMT_CRMS_SVR_S0110102000B110_IN_SUB">
			<xsd:sequence>
				<xsd:element minOccurs="0"  name="PAR_SEQ_ID" type="xsd:string" >
					<xsd:annotation><xsd:documentation>关联关系记录编号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="RELATION_TYPE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>关联关系类型</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="RELATION_ID" type="xsd:string" >
					<xsd:annotation><xsd:documentation>关系人ID</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="REL_NAME" type="xsd:string" >
					<xsd:annotation><xsd:documentation>关系人名称</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="REL_CERT_TYPE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>关系人证件类型</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="REL_CERT_NO" type="xsd:string" >
					<xsd:annotation><xsd:documentation>关系人证件号码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="OTHER_DESC" type="xsd:string" >
					<xsd:annotation><xsd:documentation>其它说明</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CERT_ORG_NAT" type="xsd:string" >
					<xsd:annotation><xsd:documentation>发证机关国家</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CERT_ORG_AREA" type="xsd:string" >
					<xsd:annotation><xsd:documentation>发证机关所在地</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CERT_ORG_NAME" type="xsd:string" >
					<xsd:annotation><xsd:documentation>发证机关名称</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CERT_ISSUE_DATE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>证件签发日期</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CERT_DUE_DATE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>证件到期日期</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="NAT_CODE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>国籍</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="GENDER_CODE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>性别</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="BIRTH_DATE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>出生日期</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="MARITAL_STAT" type="xsd:string" >
					<xsd:annotation><xsd:documentation>婚姻状态</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="RSDT_TYPE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>居民性质</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="EDU_STATE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>教育程度</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="ECON_RESUR" type="xsd:string" >
					<xsd:annotation><xsd:documentation>主要经济来源</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="WORK_CORP" type="xsd:string" >
					<xsd:annotation><xsd:documentation>工作单位</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="WORK_ADDR" type="xsd:string" >
					<xsd:annotation><xsd:documentation>单位地址</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="UNIT_PHONE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>单位电话</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="OFFICE_FAX" type="xsd:string" >
					<xsd:annotation><xsd:documentation>传真号码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="UNIT_TYPE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>单位分类</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="INDUSTRY_TYPE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>从事行业类型</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="PROFESSION_CODE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>职业</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="UNIT_POSITION" type="xsd:string" >
					<xsd:annotation><xsd:documentation>职务</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="TECH_TITLE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>职称</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CITY_CODE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>所在城市</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="AREA_CODE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>所属地区代码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="YEAR_SALARY" type="xsd:string" >
					<xsd:annotation><xsd:documentation>个人年收入</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="FAM_YEAR" type="xsd:string" >
					<xsd:annotation><xsd:documentation>家庭年收入</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="FAM_ADDR" type="xsd:string" >
					<xsd:annotation><xsd:documentation>家庭地址</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="FAM_POST" type="xsd:string" >
					<xsd:annotation><xsd:documentation>家庭邮编</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="FIND_ADDR" type="xsd:string" >
					<xsd:annotation><xsd:documentation>联系地址</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="FINDTEL_NO" type="xsd:string" >
					<xsd:annotation><xsd:documentation>联系电话</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="MOBILE_NO" type="xsd:string" >
					<xsd:annotation><xsd:documentation>手机号码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HOME_ADDR" type="xsd:string" >
					<xsd:annotation><xsd:documentation>住宅地址</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HOME_POST" type="xsd:string" >
					<xsd:annotation><xsd:documentation>住宅邮编</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HOMETEL_NO" type="xsd:string" >
					<xsd:annotation><xsd:documentation>住宅电话</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="EMAIL_ADDR" type="xsd:string" >
					<xsd:annotation><xsd:documentation>电子邮件</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="COMMUNICA_ADD" type="xsd:string" >
					<xsd:annotation><xsd:documentation>通讯地址</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="COMMUNICA_POST" type="xsd:string" >
					<xsd:annotation><xsd:documentation>通讯邮编</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CENSUS_ADDR" type="xsd:string" >
					<xsd:annotation><xsd:documentation>户籍地址</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="URL_ADDR" type="xsd:string" >
					<xsd:annotation><xsd:documentation>个人网址</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="OICQ_NO" type="xsd:string" >
					<xsd:annotation><xsd:documentation>QQ号码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="MSG_ADDR" type="xsd:string" >
					<xsd:annotation><xsd:documentation>微信号码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="FANCY_DESC" type="xsd:string" >
					<xsd:annotation><xsd:documentation>个人爱好</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="REMARK" type="xsd:string" >
					<xsd:annotation><xsd:documentation>备注</xsd:documentation></xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="FMT_SOAP_UTF8_ResponseHeader">
			<xsd:sequence>
				<xsd:element minOccurs="0"  name="VersionNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>版本号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="ReqSysCode" type="xsd:string" >
					<xsd:annotation><xsd:documentation>请求方系统代码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="ReqSecCode" type="xsd:string" >
					<xsd:annotation><xsd:documentation>安全节点号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="TxType" type="xsd:string" >
					<xsd:annotation><xsd:documentation>RP</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="TxMode" type="xsd:string" >
					<xsd:annotation><xsd:documentation>0-正常 1-冲销2-冲正 3-重发</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="TxCode" type="xsd:string" >
					<xsd:annotation><xsd:documentation>ESB服务码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="ReqDate" type="xsd:string" >
					<xsd:annotation><xsd:documentation>请求方交易日期</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="ReqTime" type="xsd:string" >
					<xsd:annotation><xsd:documentation>请求方交易时间戳</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="ReqSeqNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>请求方交易流水号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="SvrDate" type="xsd:string" >
					<xsd:annotation><xsd:documentation>服务方交易日期</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="SvrTime" type="xsd:string" >
					<xsd:annotation><xsd:documentation>服务方交易时间戳</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="SvrSeqNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>服务方交易流水号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="RecvFileName" type="xsd:string" >
					<xsd:annotation><xsd:documentation>接收文件各</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="TotNum" type="xsd:string" >
					<xsd:annotation><xsd:documentation>查询总记录数</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="CurrNum" type="xsd:string" >
					<xsd:annotation><xsd:documentation>当前查询返回记录数</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="FileHMac" type="xsd:string" >
					<xsd:annotation><xsd:documentation>文件摘要</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HMac" type="xsd:string" >
					<xsd:annotation><xsd:documentation>报文摘要</xsd:documentation></xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="FMT_SOAP_UTF8_ResTranHeader">
			<xsd:sequence>
				<xsd:element minOccurs="0"  name="HSecFlag" type="xsd:string" >
					<xsd:annotation><xsd:documentation>加密标志</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HCombFlag" type="xsd:string" >
					<xsd:annotation><xsd:documentation>组合标志</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HSvcInfo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>主机服务名</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HSecInfoVerNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>密钥版本号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HMsgRefNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>报文跟踪号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HIdentFlag" type="xsd:string" >
					<xsd:annotation><xsd:documentation>验印标志</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HSuperFlag" type="xsd:string" >
					<xsd:annotation><xsd:documentation>是否外汇监管标志</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HChkFlag" type="xsd:string" >
					<xsd:annotation><xsd:documentation>监督复核标志</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HChkTxnCd" type="xsd:string" >
					<xsd:annotation><xsd:documentation>复核交易码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HVerfCd" type="xsd:string" >
					<xsd:annotation><xsd:documentation>凭证校验码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HTranRes" type="xsd:string" >
					<xsd:annotation><xsd:documentation>系统保留</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HRefTxnCd" type="xsd:string" >
					<xsd:annotation><xsd:documentation>联动交易码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HServerDt" type="xsd:string" >
					<xsd:annotation><xsd:documentation>交易日期</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HServerTm" type="xsd:string" >
					<xsd:annotation><xsd:documentation>交易时间</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HServerSeq" type="xsd:string" >
					<xsd:annotation><xsd:documentation>柜员流水号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HAcountDt" type="xsd:string" >
					<xsd:annotation><xsd:documentation>会计日期</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HRefSeq" type="xsd:string" >
					<xsd:annotation><xsd:documentation>第三方流水号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HRefDt" type="xsd:string" >
					<xsd:annotation><xsd:documentation>第三方日期</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HNextStep" type="xsd:string" >
					<xsd:annotation><xsd:documentation>下一交易码</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HVchChk" type="xsd:string" >
					<xsd:annotation><xsd:documentation>凭证校验</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HRetResInfo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>返回交易头保留</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HErrTranNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>出错交易序号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HAssiInfo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>通知前台不打印列表</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HRetCode" type="xsd:string" >
					<xsd:annotation><xsd:documentation>错误代号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HRetNo" type="xsd:string" >
					<xsd:annotation><xsd:documentation>错误编号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HRetMsg" type="xsd:string" >
					<xsd:annotation><xsd:documentation>错误信息</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="HWarnMsg" type="xsd:string" >
					<xsd:annotation><xsd:documentation>警告信息</xsd:documentation></xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="FMT_CRMS_SVR_S0110102000B110_OUT">
			<xsd:sequence>
				<xsd:element minOccurs="0"  name="ECIF_CUST_NO" type="xsd:string" >
					<xsd:annotation><xsd:documentation>客户编号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  maxOccurs="unbounded"  name="GRP_REL_PSN" type="adtec:FMT_CRMS_SVR_S0110102000B110_OUT_SUB" >
					<xsd:annotation><xsd:documentation>S0110102000B110输出循环</xsd:documentation></xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="FMT_CRMS_SVR_S0110102000B110_OUT_SUB">
			<xsd:sequence>
				<xsd:element minOccurs="0"  name="PAR_SEQ_ID" type="xsd:string" >
					<xsd:annotation><xsd:documentation>关联关系记录编号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="RELATION_TYPE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>关联关系类型</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="RELATION_ID" type="xsd:string" >
					<xsd:annotation><xsd:documentation>关系人ID</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="REL_CUST_NO" type="xsd:string" >
					<xsd:annotation><xsd:documentation>关系人客户编号</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="REL_NAME" type="xsd:string" >
					<xsd:annotation><xsd:documentation>关系人名称</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="REL_CERT_TYPE" type="xsd:string" >
					<xsd:annotation><xsd:documentation>关系人证件类型</xsd:documentation></xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0"  name="REL_CERT_NO" type="xsd:string" >
					<xsd:annotation><xsd:documentation>关系人证件号码</xsd:documentation></xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="FMT_CRMS_SVR_S0110102000B110_ALL_IN">
		<wsdl:part name="RequestHeader" type="adtec:FMT_SOAP_UTF8_RequestHeader"/>
		<wsdl:part name="ReqTranHeader" type="adtec:FMT_SOAP_UTF8_ReqTranHeader"/>
		<wsdl:part name="RequestBody" type="adtec:FMT_CRMS_SVR_S0110102000B110_IN"/>
	</wsdl:message>
	<wsdl:message name="FMT_CRMS_SVR_S0110102000B110_ALL_OUT">
		<wsdl:part name="ResponseHeader" type="adtec:FMT_SOAP_UTF8_ResponseHeader"/>
		<wsdl:part name="ResTranHeader" type="adtec:FMT_SOAP_UTF8_ResTranHeader"/>
		<wsdl:part name="ResponseBody" type="adtec:FMT_CRMS_SVR_S0110102000B110_OUT"/>
	</wsdl:message>
	<wsdl:portType name="S0110102000B110Type">
		<wsdl:operation name="S0110102000B110">
			<wsdl:input message="adtec:FMT_CRMS_SVR_S0110102000B110_ALL_IN"/>
			<wsdl:output message="adtec:FMT_CRMS_SVR_S0110102000B110_ALL_OUT"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="S0110102000B110Binding" type="adtec:S0110102000B110Type">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="S0110102000B110">
			<soap:operation soapAction="http://172.16.221.83:12103/WebService/CRMS_SVR/S0110102000B110"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="S0110102000B110Service">
		<wsdl:port name="S0110102000B110Port" binding="adtec:S0110102000B110Binding">
			<soap:address location="http://172.16.221.83:12103/WebService/CRMS_SVR/S0110102000B110"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>