crms/com.bos.grt/src/com/bos/grt/grtSynInterface/GrtInfoSyn.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GrtInfoSynServiceService" targetNamespace="http://www.primeton.com/GrtInfoSynService" xmlns:ns1="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://grtSynInterface.grt.bos.com" xmlns:nns="http://www.primeton.com/GrtInfoSynService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://grtSynInterface.grt.bos.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="CollInfoInput">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="apply_id" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="asesType_cd" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="clt_flag" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="clt_nm" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="clt_no" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="clt_rmk" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="clt_tp_cd" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="extl_eval_amt" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="extl_eval_ccy_cd" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="extl_eval_dt" type="ns1:dateTime"/>
          <xsd:element minOccurs="0" name="extl_eval_org_name" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="initial_amt" type="ns1:double"/>
          <xsd:element minOccurs="0" name="mortgaga_amt" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="ope_flag" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="org_num" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="ori_channel" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="ori_trans_seri_num" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="party_id" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="scene_id" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="signeename" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="sys_eval_amt" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="sys_eval_ccy_cd" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="sys_eval_dt" type="ns1:dateTime"/>
          <xsd:element minOccurs="0" name="trans_code" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="trans_desc" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="trans_time" type="ns1:dateTime"/>
          <xsd:element minOccurs="0" name="user_num" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="warrant_no" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.primeton.com/GrtInfoSynService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="collInfoSyn">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="in0" nillable="true" type="ns0:CollInfoInput"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="collInfoSynResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="out1" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="collInfoSyn">
    <wsdl:part name="collInfoSyn" element="nns:collInfoSyn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="collInfoSynResponse">
    <wsdl:part name="collInfoSynResponse" element="nns:collInfoSynResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GrtInfoSynService">
    <wsdl:operation name="collInfoSyn">
      <wsdl:input name="collInfoSyn" message="nns:collInfoSyn">
    </wsdl:input>
      <wsdl:output name="collInfoSynResponse" message="nns:collInfoSynResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
