crms/com.primeton.tsl/src/com/primeton/plusclient/WebServiceGlToHsImpl.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.webservice.bizservice.modules.aplus.ncl.git.com.cn/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebServiceGlToHsImpl" targetNamespace="http://impl.webservice.bizservice.modules.aplus.ncl.git.com.cn/">
<import location="WebServiceGlToHsImpl_import1.wsdl" namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/"/>
<binding xmlns:ns1="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" name="WebServiceGlToHsImplPortBinding" type="ns1:IWebServiceGlToHs">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="executeT1306">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1304">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeB1102">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1305">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1202">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1308">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1203">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1204">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1208">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1205">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeB1101">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1206">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1207">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1210">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1100">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1101">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1102">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1103">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1107">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1104">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1106">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1105">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1108">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1110">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1115">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1401">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1402">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1403">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1405">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1404">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1408">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1406">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1410">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1407">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1411">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1412">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1413">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1417">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1415">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1419">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1418">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1301">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1302">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
<operation name="executeT1303">
<soap:operation soapAction=""/>
<input>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</input>
<output>
<soap:body namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" use="literal"/>
</output>
</operation>
</binding>
<service name="WebServiceGlToHsImpl">
<port binding="tns:WebServiceGlToHsImplPortBinding" name="WebServiceGlToHsImplPort">
<soap:address location="http://115.114.113.211:8286/WebServiceGlToHsImpl"/>
</port>
</service>
</definitions>
