crms/com.primeton.tsl/src/com/primeton/plusclient/WebServiceGlToHsImpl_import1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<xs:schema xmlns:tns="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" version="1.0">

<xs:complexType name="inVoT1110">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="revStan" type="xs:long"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="atomicBaseEntity">
<xs:complexContent>
<xs:extension base="tns:baseEntity">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="baseEntity">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="pubMessage">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="accSysDate" type="xs:string"/>
<xs:element minOccurs="0" name="acsMethStan" type="xs:long"/>
<xs:element minOccurs="0" name="aut" type="xs:string"/>
<xs:element minOccurs="0" name="depCod" type="xs:string"/>
<xs:element minOccurs="0" name="errCod" type="xs:string"/>
<xs:element minOccurs="0" name="errMsg" type="xs:string"/>
<xs:element minOccurs="0" name="legPerCod" type="xs:string"/>
<xs:element minOccurs="0" name="opnDep" type="xs:string"/>
<xs:element minOccurs="0" name="opr" type="xs:string"/>
<xs:element minOccurs="0" name="origFrom" type="xs:string"/>
<xs:element minOccurs="0" name="origStan" type="xs:long"/>
<xs:element minOccurs="0" name="rcnStan" type="xs:long"/>
<xs:element minOccurs="0" name="reqCnt" type="xs:long"/>
<xs:element minOccurs="0" name="reqFile" type="xs:string"/>
<xs:element minOccurs="0" name="reqFileDir" type="xs:string"/>
<xs:element minOccurs="0" name="rltCnt" type="xs:long"/>
<xs:element minOccurs="0" name="rltFile" type="xs:string"/>
<xs:element minOccurs="0" name="rltFileDir" type="xs:string"/>
<xs:element minOccurs="0" name="supStan" type="xs:long"/>
<xs:element minOccurs="0" name="toCoreSys" type="xs:string"/>
<xs:element minOccurs="0" name="tranCod" type="xs:string"/>
<xs:element minOccurs="0" name="tranDate" type="xs:string"/>
<xs:element minOccurs="0" name="tranFrom" type="xs:string"/>
<xs:element minOccurs="0" name="tranTimes" type="xs:string"/>
<xs:element minOccurs="0" name="trnDep" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1110">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="accEntJson" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1210">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="revStan" type="xs:long"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1210">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element name="revStan" type="xs:long"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1408">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="discEndDate" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1408">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="discEndDate" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1208">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="padUpAmt" type="xs:decimal"/>
<xs:element minOccurs="0" name="payPrimAcct" type="xs:string"/>
<xs:element minOccurs="0" name="payPrimName" type="xs:string"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1208">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="brwName" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
<xs:element minOccurs="0" name="padUpAmt" type="xs:decimal"/>
<xs:element minOccurs="0" name="payPrimAcct" type="xs:string"/>
<xs:element minOccurs="0" name="payPrimName" type="xs:string"/>
<xs:element minOccurs="0" name="rcvNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvNorItrOut" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvOtdItr" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1406">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="ballMthEndPerd" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="busCod" type="xs:string"/>
<xs:element minOccurs="0" name="discEndDate" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1406">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="ballMthEndPerd" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="busCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="discEndDate" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1308">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1308">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="amt" type="xs:decimal"/>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="brwItrPay" type="xs:decimal"/>
<xs:element minOccurs="0" name="clsFlg" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="discAcc" type="xs:string"/>
<xs:element minOccurs="0" name="discAccNm" type="xs:string"/>
<xs:element minOccurs="0" name="discAccOpnDep" type="xs:string"/>
<xs:element minOccurs="0" name="discAccTyp" type="xs:string"/>
<xs:element minOccurs="0" name="discProcType" type="xs:string"/>
<xs:element minOccurs="0" name="discRate" type="xs:decimal"/>
<xs:element minOccurs="0" name="discType" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
<xs:element minOccurs="0" name="protNum" type="xs:string"/>
<xs:element minOccurs="0" name="rcvDiscAmt" type="xs:decimal"/>
<xs:element minOccurs="0" name="totAmtItr" type="xs:decimal"/>
<xs:element minOccurs="0" name="trnDep" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1407">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="stgFirstMon" type="xs:long"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1407">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="stgFirstMon" type="xs:long"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1202">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="padUpAdjOtdCpd" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpAdjOtdItr" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpAdjOtdPns" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpAmt" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPentIcm" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="payOrder" type="xs:string"/>
<xs:element minOccurs="0" name="payOutItrFlg" type="xs:string"/>
<xs:element minOccurs="0" name="payPrimAcct" type="xs:string"/>
<xs:element minOccurs="0" name="payPrimName" type="xs:string"/>
<xs:element minOccurs="0" name="prinPlanFlg" type="xs:string"/>
<xs:element minOccurs="0" name="prinPlanTerm" type="xs:long"/>
<xs:element minOccurs="0" name="stopPayNum" type="xs:string"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1202">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="padUpAdjOtdCpd" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpAdjOtdItr" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpAdjOtdPns" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpAmt" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPentIcm" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="payOrder" type="xs:string"/>
<xs:element minOccurs="0" name="payOutItrFlg" type="xs:string"/>
<xs:element minOccurs="0" name="payPrimAcct" type="xs:string"/>
<xs:element minOccurs="0" name="payPrimName" type="xs:string"/>
<xs:element minOccurs="0" name="prinPlanFlg" type="xs:string"/>
<xs:element minOccurs="0" name="prinPlanTerm" type="xs:long"/>
<xs:element minOccurs="0" name="stopPayNum" type="xs:string"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1103">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="brwName" type="xs:string"/>
<xs:element minOccurs="0" name="conNo" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
<xs:element minOccurs="0" name="rcvCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1103">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="brwName" type="xs:string"/>
<xs:element minOccurs="0" name="conNo" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
<xs:element minOccurs="0" name="rcvCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1301">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
<xs:element minOccurs="0" name="prnTyp" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1301">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="amt" type="xs:decimal"/>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="brwName" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
<xs:element minOccurs="0" name="oftAcrItrBal" type="xs:decimal"/>
<xs:element minOccurs="0" name="opnDep" type="xs:unsignedShort"/>
<xs:element minOccurs="0" name="opr" type="xs:string"/>
<xs:element minOccurs="0" name="padUpCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpCpdItrOut" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpDftItrOut" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpDiscAmt" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpNorItrOut" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpOftItr" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpOftPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPentIcm" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPentPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPnsItrOut" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="prnTyp" type="xs:string"/>
<xs:element minOccurs="0" name="rltCnt" type="xs:long"/>
<xs:element minOccurs="0" name="rltFile" type="xs:unsignedShort"/>
<xs:element minOccurs="0" name="rltFileDir" type="xs:unsignedShort"/>
<xs:element minOccurs="0" name="stan" type="xs:long"/>
<xs:element minOccurs="0" name="summary" type="xs:string"/>
<xs:element minOccurs="0" name="tranDate" type="xs:unsignedShort"/>
<xs:element minOccurs="0" name="trnTyp" type="xs:unsignedShort"/>
<xs:element minOccurs="0" name="voucherType" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1203">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1203">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1104">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="brwName" type="xs:string"/>
<xs:element minOccurs="0" name="ceasDate" type="xs:string"/>
<xs:element minOccurs="0" name="conNo" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
<xs:element minOccurs="0" name="padUpCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvItrType" type="xs:string"/>
<xs:element minOccurs="0" name="rcvNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
<xs:element minOccurs="0" name="totItr" type="xs:decimal"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1104">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="brwName" type="xs:string"/>
<xs:element minOccurs="0" name="ceasDate" type="xs:string"/>
<xs:element minOccurs="0" name="conNo" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
<xs:element minOccurs="0" name="padUpCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvItrType" type="xs:string"/>
<xs:element minOccurs="0" name="rcvNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
<xs:element minOccurs="0" name="totItr" type="xs:decimal"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1401">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1401">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1302">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1302">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="amt" type="xs:decimal"/>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="brwName" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="delItrRate" type="xs:decimal"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
<xs:element minOccurs="0" name="norItrRate" type="xs:decimal"/>
<xs:element minOccurs="0" name="prmPayTyp" type="xs:string"/>
<xs:element minOccurs="0" name="rlsDep" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1101">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="accEntJson" type="xs:string"/>
<xs:element minOccurs="0" name="agyBusAccName" type="xs:string"/>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="brwName" type="xs:string"/>
<xs:element minOccurs="0" name="caspan" type="xs:string"/>
<xs:element minOccurs="0" name="conNo" type="xs:string"/>
<xs:element minOccurs="0" name="curAstPayTyp" type="xs:string"/>
<xs:element minOccurs="0" name="curPrmPayTyp" type="xs:string"/>
<xs:element minOccurs="0" name="currCod" type="xs:string"/>
<xs:element minOccurs="0" name="delItrRate" type="xs:decimal"/>
<xs:element minOccurs="0" name="discType" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="dueNumSun" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
<xs:element minOccurs="0" name="nextProvDate" type="xs:string"/>
<xs:element minOccurs="0" name="norItrRate" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpAmt" type="xs:decimal"/>
<xs:element minOccurs="0" name="payDate" type="xs:string"/>
<xs:element minOccurs="0" name="payPrimAcct" type="xs:string"/>
<xs:element minOccurs="0" name="payPrimName" type="xs:string"/>
<xs:element minOccurs="0" name="primAcct" type="xs:string"/>
<xs:element minOccurs="0" name="primAcctName" type="xs:string"/>
<xs:element minOccurs="0" name="prodCod" type="xs:string"/>
<xs:element minOccurs="0" name="rcvDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="stgFirstMon" type="xs:long"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1101">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="accEntJson" type="xs:string"/>
<xs:element minOccurs="0" name="agyBusAccName" type="xs:string"/>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="brwName" type="xs:string"/>
<xs:element minOccurs="0" name="caspan" type="xs:string"/>
<xs:element minOccurs="0" name="conNo" type="xs:string"/>
<xs:element minOccurs="0" name="curAstPayTyp" type="xs:string"/>
<xs:element minOccurs="0" name="curPrmPayTyp" type="xs:string"/>
<xs:element minOccurs="0" name="currCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="delItrRate" type="xs:decimal"/>
<xs:element minOccurs="0" name="discType" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="dueNumSun" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
<xs:element minOccurs="0" name="nextProvDate" type="xs:string"/>
<xs:element minOccurs="0" name="norItrRate" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpAmt" type="xs:decimal"/>
<xs:element minOccurs="0" name="payDate" type="xs:string"/>
<xs:element minOccurs="0" name="payPrimAcct" type="xs:string"/>
<xs:element minOccurs="0" name="payPrimName" type="xs:string"/>
<xs:element minOccurs="0" name="primAcct" type="xs:string"/>
<xs:element minOccurs="0" name="primAcctName" type="xs:string"/>
<xs:element minOccurs="0" name="prodCod" type="xs:string"/>
<xs:element minOccurs="0" name="rcvDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="stgFirstMon" type="xs:long"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1102">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="accEntJson" type="xs:string"/>
<xs:element minOccurs="0" name="adjOtdCpd" type="xs:decimal"/>
<xs:element minOccurs="0" name="adjOtdItr" type="xs:decimal"/>
<xs:element minOccurs="0" name="adjOtdPns" type="xs:decimal"/>
<xs:element minOccurs="0" name="assetTransferFlg" type="xs:string"/>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="brwName" type="xs:string"/>
<xs:element minOccurs="0" name="conNo" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
<xs:element minOccurs="0" name="padUpAdjOtdCpd" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpAdjOtdItr" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpAdjOtdPns" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpAmt" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPentIcm" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="payOrder" type="xs:string"/>
<xs:element minOccurs="0" name="payOutItrFlg" type="xs:string"/>
<xs:element minOccurs="0" name="payPrimAcct" type="xs:string"/>
<xs:element minOccurs="0" name="payPrimName" type="xs:string"/>
<xs:element minOccurs="0" name="pledgeDeductFlg" type="xs:string"/>
<xs:element minOccurs="0" name="rcvCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="sts" type="xs:string"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1102">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="accEntJson" type="xs:string"/>
<xs:element minOccurs="0" name="adjOtdCpd" type="xs:decimal"/>
<xs:element minOccurs="0" name="adjOtdItr" type="xs:decimal"/>
<xs:element minOccurs="0" name="adjOtdPns" type="xs:decimal"/>
<xs:element minOccurs="0" name="assetTransferFlg" type="xs:string"/>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="brwName" type="xs:string"/>
<xs:element minOccurs="0" name="conNo" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
<xs:element minOccurs="0" name="padUpAdjOtdCpd" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpAdjOtdItr" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpAdjOtdPns" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpAmt" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPentIcm" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="payOrder" type="xs:string"/>
<xs:element minOccurs="0" name="payOutItrFlg" type="xs:string"/>
<xs:element minOccurs="0" name="payPrimAcct" type="xs:string"/>
<xs:element minOccurs="0" name="payPrimName" type="xs:string"/>
<xs:element minOccurs="0" name="pledgeDeductFlg" type="xs:string"/>
<xs:element minOccurs="0" name="rcvCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="sts" type="xs:string"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1305">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1305">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="amt" type="xs:decimal"/>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="brwName" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
<xs:element minOccurs="0" name="opnDep" type="xs:string"/>
<xs:element minOccurs="0" name="rcvDate" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1206">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="padUpAmt" type="xs:decimal"/>
<xs:element minOccurs="0" name="payPrimAcct" type="xs:string"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1206">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="inAccName" type="xs:string"/>
<xs:element minOccurs="0" name="padUpAmt" type="xs:decimal"/>
<xs:element minOccurs="0" name="payPrimAcct" type="xs:string"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1107">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="brwName" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
<xs:element minOccurs="0" name="rcvCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
<xs:element minOccurs="0" name="totPrnItr" type="xs:decimal"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1107">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="brwName" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
<xs:element minOccurs="0" name="rcvCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
<xs:element minOccurs="0" name="totPrnItr" type="xs:decimal"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1404">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1404">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1306">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="busCod" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1306">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="brwName" type="xs:string"/>
<xs:element minOccurs="0" name="busCod" type="xs:string"/>
<xs:element minOccurs="0" name="currCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
<xs:element minOccurs="0" name="iprBase" type="xs:decimal"/>
<xs:element minOccurs="0" name="nowClsFlg" type="xs:string"/>
<xs:element minOccurs="0" name="nowPrvIpr" type="xs:decimal"/>
<xs:element minOccurs="0" name="opnDep" type="xs:string"/>
<xs:element minOccurs="0" name="orgClsFlg" type="xs:string"/>
<xs:element minOccurs="0" name="orgPrvIpr" type="xs:decimal"/>
<xs:element minOccurs="0" name="prop" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvDate" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1207">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1207">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1108">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="accEntJson" type="xs:string"/>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="brwName" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
<xs:element minOccurs="0" name="padUpAmt" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpNorItrOut" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpOtdItr" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="payPrimAcct" type="xs:string"/>
<xs:element minOccurs="0" name="payPrimName" type="xs:string"/>
<xs:element minOccurs="0" name="rcvNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvNorItrOut" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvOtdItr" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1108">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="accEntJson" type="xs:string"/>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="brwName" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
<xs:element minOccurs="0" name="padUpAmt" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpNorItrOut" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpOtdItr" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="payPrimAcct" type="xs:string"/>
<xs:element minOccurs="0" name="payPrimName" type="xs:string"/>
<xs:element minOccurs="0" name="rcvNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvNorItrOut" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvOtdItr" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1405">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="ballMthEndPerd" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="calDays" type="xs:long"/>
<xs:element minOccurs="0" name="caspan" type="xs:string"/>
<xs:element minOccurs="0" name="curAstPayTyp" type="xs:string"/>
<xs:element minOccurs="0" name="curPrmPayTyp" type="xs:string"/>
<xs:element minOccurs="0" name="cusPayPlanType" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="frePayMethDay" type="xs:long"/>
<xs:element minOccurs="0" name="frePayMethPayAmt" type="xs:decimal"/>
<xs:element minOccurs="0" name="itrRateWay" type="xs:string"/>
<xs:element minOccurs="0" name="midTermWay" type="xs:string"/>
<xs:element minOccurs="0" name="payDate" type="xs:string"/>
<xs:element minOccurs="0" name="payItrPlanFlg" type="xs:string"/>
<xs:element minOccurs="0" name="prinPlanFlg" type="xs:string"/>
<xs:element minOccurs="0" name="stgFirstMon" type="xs:long"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1405">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="ballMthEndPerd" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="calDays" type="xs:long"/>
<xs:element minOccurs="0" name="caspan" type="xs:string"/>
<xs:element minOccurs="0" name="curAstPayTyp" type="xs:string"/>
<xs:element minOccurs="0" name="curPrmPayTyp" type="xs:string"/>
<xs:element minOccurs="0" name="cusPayPlanType" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="frePayMethDay" type="xs:long"/>
<xs:element minOccurs="0" name="frePayMethPayAmt" type="xs:decimal"/>
<xs:element minOccurs="0" name="itrRateWay" type="xs:string"/>
<xs:element minOccurs="0" name="midTermWay" type="xs:string"/>
<xs:element minOccurs="0" name="payDate" type="xs:string"/>
<xs:element minOccurs="0" name="payItrPlanFlg" type="xs:string"/>
<xs:element minOccurs="0" name="prinPlanFlg" type="xs:string"/>
<xs:element minOccurs="0" name="stgFirstMon" type="xs:long"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1204">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="rcvCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvItrYype" type="xs:string"/>
<xs:element minOccurs="0" name="rcvNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1204">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="rcvCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvItrYype" type="xs:string"/>
<xs:element minOccurs="0" name="rcvNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1105">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="adjItrFlg" type="xs:string"/>
<xs:element minOccurs="0" name="adjOtdCpd" type="xs:decimal"/>
<xs:element minOccurs="0" name="adjOtdItr" type="xs:decimal"/>
<xs:element minOccurs="0" name="adjOtdPns" type="xs:decimal"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="brwName" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="padUpAdjOtdCpd" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpAdjOtdItr" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpAdjOtdPns" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1105">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="adjItrFlg" type="xs:string"/>
<xs:element minOccurs="0" name="adjOtdCpd" type="xs:decimal"/>
<xs:element minOccurs="0" name="adjOtdItr" type="xs:decimal"/>
<xs:element minOccurs="0" name="adjOtdPns" type="xs:decimal"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="brwName" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="padUpAdjOtdCpd" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpAdjOtdItr" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpAdjOtdPns" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1402">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="itrSettAcc" type="xs:string"/>
<xs:element minOccurs="0" name="itrSettAccName" type="xs:string"/>
<xs:element minOccurs="0" name="payPrimAcct" type="xs:string"/>
<xs:element minOccurs="0" name="payPrimName" type="xs:string"/>
<xs:element minOccurs="0" name="prnSettAcc" type="xs:string"/>
<xs:element minOccurs="0" name="prnSettAccName" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1402">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="itrSettAcc" type="xs:string"/>
<xs:element minOccurs="0" name="itrSettAccName" type="xs:string"/>
<xs:element minOccurs="0" name="payPrimAcct" type="xs:string"/>
<xs:element minOccurs="0" name="payPrimName" type="xs:string"/>
<xs:element minOccurs="0" name="prnSettAcc" type="xs:string"/>
<xs:element minOccurs="0" name="prnSettAccName" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1303">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1303">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="brwName" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
<xs:element minOccurs="0" name="oftAcrItrBal" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpCpdItrOut" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpDftItrOut" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpOftItr" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpOftPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPentIcm" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPentPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPnsItrOut" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="payDate" type="xs:string"/>
<xs:element minOccurs="0" name="payPrimAcct" type="xs:string"/>
<xs:element minOccurs="0" name="payPrimName" type="xs:string"/>
<xs:element minOccurs="0" name="payTyp" type="xs:string"/>
<xs:element minOccurs="0" name="rcvNorItrOut" type="xs:decimal"/>
<xs:element minOccurs="0" name="rlsDep" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1304">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1304">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="brwName" type="xs:string"/>
<xs:element minOccurs="0" name="currCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
<xs:element minOccurs="0" name="oftAcrItrBal" type="xs:decimal"/>
<xs:element minOccurs="0" name="payDate" type="xs:string"/>
<xs:element minOccurs="0" name="rcvCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvCpdItrOut" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvDftItrOut" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvNorItrOut" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPnsItrOut" type="xs:decimal"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1205">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="adjItrFlg" type="xs:string"/>
<xs:element minOccurs="0" name="adjOtdCpd" type="xs:decimal"/>
<xs:element minOccurs="0" name="adjOtdItr" type="xs:decimal"/>
<xs:element minOccurs="0" name="adjOtdPns" type="xs:decimal"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="padUpAdjOtdCpd" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpAdjOtdItr" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpAdjOtdPns" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvCpdItrOut" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvDftItrOut" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvNorItrOut" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPnsItrOut" type="xs:decimal"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1205">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="adjItrFlg" type="xs:string"/>
<xs:element minOccurs="0" name="adjOtdCpd" type="xs:decimal"/>
<xs:element minOccurs="0" name="adjOtdItr" type="xs:decimal"/>
<xs:element minOccurs="0" name="adjOtdPns" type="xs:decimal"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="padUpAdjOtdCpd" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpAdjOtdItr" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpAdjOtdPns" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvCpdItrOut" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvDftItrOut" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvNorItrOut" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPnsItrOut" type="xs:decimal"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1106">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="accEntJson" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="payPrimAcct" type="xs:string"/>
<xs:element minOccurs="0" name="queryResult" type="xs:string"/>
<xs:element minOccurs="0" name="telNO" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1106">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="accEntJson" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="queryResult" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1403">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1403">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1100">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1100">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="brwName" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="delItrRate" type="xs:decimal"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
<xs:element minOccurs="0" name="norItrRate" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="totPrnItr" type="xs:decimal"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1419">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="busCod" type="xs:string"/>
<xs:element minOccurs="0" name="cpdItrRate" type="xs:decimal"/>
<xs:element minOccurs="0" name="delItrRate" type="xs:decimal"/>
<xs:element minOccurs="0" name="discEndDate" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="exdBegDate" type="xs:string"/>
<xs:element minOccurs="0" name="exdEndDate" type="xs:string"/>
<xs:element minOccurs="0" name="norItrRate" type="xs:decimal"/>
<xs:element minOccurs="0" name="payItrPlanFlg" type="xs:string"/>
<xs:element minOccurs="0" name="prinPlanFlg" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1419">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="busCod" type="xs:string"/>
<xs:element minOccurs="0" name="cpdItrRate" type="xs:decimal"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="delItrRate" type="xs:decimal"/>
<xs:element minOccurs="0" name="discEndDate" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="exdBegDate" type="xs:string"/>
<xs:element minOccurs="0" name="exdEndDate" type="xs:string"/>
<xs:element minOccurs="0" name="norItrRate" type="xs:decimal"/>
<xs:element minOccurs="0" name="payItrPlanFlg" type="xs:string"/>
<xs:element minOccurs="0" name="prinPlanFlg" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1417">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="prinPlanFlg" type="xs:string"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1417">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="prinPlanFlg" type="xs:string"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1418">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1418">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1411">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="exdBegDate" type="xs:string"/>
<xs:element minOccurs="0" name="exiFlg" type="xs:string"/>
<xs:element minOccurs="0" name="legPerCod" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1411">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="exdBegDate" type="xs:string"/>
<xs:element minOccurs="0" name="exiFlg" type="xs:string"/>
<xs:element minOccurs="0" name="legPerCod" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1115">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="accEntJson" type="xs:string"/>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="begItrDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="brwName" type="xs:string"/>
<xs:element minOccurs="0" name="caspan" type="xs:string"/>
<xs:element minOccurs="0" name="conNo" type="xs:string"/>
<xs:element minOccurs="0" name="curAstPayTyp" type="xs:string"/>
<xs:element minOccurs="0" name="curPrmPayTyp" type="xs:string"/>
<xs:element minOccurs="0" name="currCod" type="xs:string"/>
<xs:element minOccurs="0" name="delItrRate" type="xs:decimal"/>
<xs:element minOccurs="0" name="discType" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="dueNumSun" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
<xs:element minOccurs="0" name="forwProvDate" type="xs:string"/>
<xs:element minOccurs="0" name="nextProvDate" type="xs:string"/>
<xs:element minOccurs="0" name="norItrRate" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpAmt" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPentIcm" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="payDate" type="xs:string"/>
<xs:element minOccurs="0" name="payOpenDep" type="xs:string"/>
<xs:element minOccurs="0" name="payOrder" type="xs:string"/>
<xs:element minOccurs="0" name="payOutItrFlg" type="xs:string"/>
<xs:element minOccurs="0" name="payPrimAcct" type="xs:string"/>
<xs:element minOccurs="0" name="payPrimAcctTyp" type="xs:string"/>
<xs:element minOccurs="0" name="payPrimName" type="xs:string"/>
<xs:element minOccurs="0" name="primAcct" type="xs:string"/>
<xs:element minOccurs="0" name="primAcctName" type="xs:string"/>
<xs:element minOccurs="0" name="prodCod" type="xs:string"/>
<xs:element minOccurs="0" name="prvCod" type="xs:string"/>
<xs:element minOccurs="0" name="rcvCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rlsDep" type="xs:string"/>
<xs:element minOccurs="0" name="stgFirstMon" type="xs:long"/>
<xs:element minOccurs="0" name="talDep" type="xs:string"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1115">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="accEntJson" type="xs:string"/>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="begItrDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="brwName" type="xs:string"/>
<xs:element minOccurs="0" name="caspan" type="xs:string"/>
<xs:element minOccurs="0" name="conNo" type="xs:string"/>
<xs:element minOccurs="0" name="curAstPayTyp" type="xs:string"/>
<xs:element minOccurs="0" name="curPrmPayTyp" type="xs:string"/>
<xs:element minOccurs="0" name="currCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="delItrRate" type="xs:decimal"/>
<xs:element minOccurs="0" name="discType" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="dueNumSun" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
<xs:element minOccurs="0" name="forwProvDate" type="xs:string"/>
<xs:element minOccurs="0" name="nextProvDate" type="xs:string"/>
<xs:element minOccurs="0" name="norItrRate" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpAmt" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPentIcm" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="payDate" type="xs:string"/>
<xs:element minOccurs="0" name="payOpenDep" type="xs:string"/>
<xs:element minOccurs="0" name="payOrder" type="xs:string"/>
<xs:element minOccurs="0" name="payOutItrFlg" type="xs:string"/>
<xs:element minOccurs="0" name="payPrimAcct" type="xs:string"/>
<xs:element minOccurs="0" name="payPrimAcctTyp" type="xs:string"/>
<xs:element minOccurs="0" name="payPrimName" type="xs:string"/>
<xs:element minOccurs="0" name="primAcct" type="xs:string"/>
<xs:element minOccurs="0" name="primAcctName" type="xs:string"/>
<xs:element minOccurs="0" name="prodCod" type="xs:string"/>
<xs:element minOccurs="0" name="prvCod" type="xs:string"/>
<xs:element minOccurs="0" name="rcvCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rlsDep" type="xs:string"/>
<xs:element minOccurs="0" name="stgFirstMon" type="xs:long"/>
<xs:element minOccurs="0" name="talDep" type="xs:string"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1412">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="busCod" type="xs:string"/>
<xs:element minOccurs="0" name="cpdItrRate" type="xs:decimal"/>
<xs:element minOccurs="0" name="delItrRate" type="xs:decimal"/>
<xs:element minOccurs="0" name="discEndDate" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="exdBegDate" type="xs:string"/>
<xs:element minOccurs="0" name="exdEndDate" type="xs:string"/>
<xs:element minOccurs="0" name="norItrRate" type="xs:decimal"/>
<xs:element minOccurs="0" name="prinPlanFlg" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1412">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="busCod" type="xs:string"/>
<xs:element minOccurs="0" name="cpdItrRate" type="xs:decimal"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="delItrRate" type="xs:decimal"/>
<xs:element minOccurs="0" name="discEndDate" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="exdBegDate" type="xs:string"/>
<xs:element minOccurs="0" name="exdEndDate" type="xs:string"/>
<xs:element minOccurs="0" name="norItrRate" type="xs:decimal"/>
<xs:element minOccurs="0" name="prinPlanFlg" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoB1101">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="origStan" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoB1101">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoB1102">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoB1102">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1410">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="toCoreAmt" type="xs:decimal"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1410">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="adjOtdCpd" type="xs:decimal"/>
<xs:element minOccurs="0" name="adjOtdPns" type="xs:decimal"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="currPrjItr" type="xs:decimal"/>
<xs:element minOccurs="0" name="currPrjPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="devaSts" type="xs:string"/>
<xs:element minOccurs="0" name="dftPrnBal" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpAdjOtdItr" type="xs:decimal"/>
<xs:element minOccurs="0" name="padUpAmt" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvCpdItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvDftItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvNorItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPnsItrIn" type="xs:decimal"/>
<xs:element minOccurs="0" name="rcvPrn" type="xs:decimal"/>
<xs:element minOccurs="0" name="resNor" type="xs:decimal"/>
<xs:element minOccurs="0" name="totPrnItr" type="xs:decimal"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1415">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="prinPlanFlg" type="xs:string"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1415">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="prinPlanFlg" type="xs:string"/>
<xs:element minOccurs="0" name="telNo" type="xs:string"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inVoT1413">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="amt" type="xs:decimal"/>
<xs:element minOccurs="0" name="astCls" type="xs:string"/>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="caspan" type="xs:string"/>
<xs:element minOccurs="0" name="curAstPayTyp" type="xs:string"/>
<xs:element minOccurs="0" name="curPrmPayTyp" type="xs:string"/>
<xs:element minOccurs="0" name="distDays" type="xs:long"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
<xs:element minOccurs="0" name="exiFlg" type="xs:string"/>
<xs:element minOccurs="0" name="firProvFlg" type="xs:string"/>
<xs:element minOccurs="0" name="itrCalRule" type="xs:string"/>
<xs:element minOccurs="0" name="itrRateWay" type="xs:string"/>
<xs:element minOccurs="0" name="midTermWay" type="xs:string"/>
<xs:element minOccurs="0" name="norItrRate" type="xs:decimal"/>
<xs:element minOccurs="0" name="payDate" type="xs:string"/>
<xs:element minOccurs="0" name="prmCls" type="xs:string"/>
<xs:element minOccurs="0" name="stgFirstMon" type="xs:long"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outVoT1413">
<xs:complexContent>
<xs:extension base="tns:atomicBaseEntity">
<xs:sequence>
<xs:element minOccurs="0" name="amt" type="xs:decimal"/>
<xs:element minOccurs="0" name="astCls" type="xs:string"/>
<xs:element minOccurs="0" name="begDate" type="xs:string"/>
<xs:element minOccurs="0" name="bizHeader" type="tns:pubMessage"/>
<xs:element minOccurs="0" name="caspan" type="xs:string"/>
<xs:element minOccurs="0" name="curAstPayTyp" type="xs:string"/>
<xs:element minOccurs="0" name="curPrmPayTyp" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultCod" type="xs:string"/>
<xs:element minOccurs="0" name="dealResultMsg" type="xs:string"/>
<xs:element minOccurs="0" name="dueNum" type="xs:string"/>
<xs:element minOccurs="0" name="endDate" type="xs:string"/>
<xs:element minOccurs="0" name="exiFlg" type="xs:string"/>
<xs:element minOccurs="0" name="itrCalRule" type="xs:string"/>
<xs:element minOccurs="0" name="itrRateWay" type="xs:string"/>
<xs:element minOccurs="0" name="norItrRate" type="xs:decimal"/>
<xs:element minOccurs="0" name="payDate" type="xs:string"/>
<xs:element minOccurs="0" name="prmCls" type="xs:string"/>
<xs:element minOccurs="0" name="queryResult" type="xs:string"/>
<xs:element minOccurs="0" name="stgFirstMon" type="xs:long"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:schema>
