crms/com.primeton.tsl/src/com/primeton/plusclient/WebServiceGlToHsImpl_import1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/" schemaLocation="WebServiceGlToHsImpl_import1.xsd"/>
</xsd:schema>
</types>
<message name="executeT1306">
<part name="arg0" type="tns:inVoT1306"/>
</message>
<message name="executeT1306Response">
<part name="return" type="tns:outVoT1306"/>
</message>
<message name="executeT1304">
<part name="arg0" type="tns:inVoT1304"/>
</message>
<message name="executeT1304Response">
<part name="return" type="tns:outVoT1304"/>
</message>
<message name="executeB1102">
<part name="arg0" type="tns:inVoB1102"/>
</message>
<message name="executeB1102Response">
<part name="return" type="tns:outVoB1102"/>
</message>
<message name="executeT1305">
<part name="arg0" type="tns:inVoT1305"/>
</message>
<message name="executeT1305Response">
<part name="return" type="tns:outVoT1305"/>
</message>
<message name="executeT1202">
<part name="arg0" type="tns:inVoT1202"/>
</message>
<message name="executeT1202Response">
<part name="return" type="tns:outVoT1202"/>
</message>
<message name="executeT1308">
<part name="arg0" type="tns:inVoT1308"/>
</message>
<message name="executeT1308Response">
<part name="return" type="tns:outVoT1308"/>
</message>
<message name="executeT1203">
<part name="arg0" type="tns:inVoT1203"/>
</message>
<message name="executeT1203Response">
<part name="return" type="tns:outVoT1203"/>
</message>
<message name="executeT1204">
<part name="arg0" type="tns:inVoT1204"/>
</message>
<message name="executeT1204Response">
<part name="return" type="tns:outVoT1204"/>
</message>
<message name="executeT1208">
<part name="arg0" type="tns:inVoT1208"/>
</message>
<message name="executeT1208Response">
<part name="return" type="tns:outVoT1208"/>
</message>
<message name="executeT1205">
<part name="arg0" type="tns:inVoT1205"/>
</message>
<message name="executeT1205Response">
<part name="return" type="tns:outVoT1205"/>
</message>
<message name="executeB1101">
<part name="arg0" type="tns:inVoB1101"/>
</message>
<message name="executeB1101Response">
<part name="return" type="tns:outVoB1101"/>
</message>
<message name="executeT1206">
<part name="arg0" type="tns:inVoT1206"/>
</message>
<message name="executeT1206Response">
<part name="return" type="tns:outVoT1206"/>
</message>
<message name="executeT1207">
<part name="arg0" type="tns:inVoT1207"/>
</message>
<message name="executeT1207Response">
<part name="return" type="tns:outVoT1207"/>
</message>
<message name="executeT1210">
<part name="arg0" type="tns:inVoT1210"/>
</message>
<message name="executeT1210Response">
<part name="return" type="tns:outVoT1210"/>
</message>
<message name="executeT1100">
<part name="arg0" type="tns:inVoT1100"/>
</message>
<message name="executeT1100Response">
<part name="return" type="tns:outVoT1100"/>
</message>
<message name="executeT1101">
<part name="arg0" type="tns:inVoT1101"/>
</message>
<message name="executeT1101Response">
<part name="return" type="tns:outVoT1101"/>
</message>
<message name="executeT1102">
<part name="arg0" type="tns:inVoT1102"/>
</message>
<message name="executeT1102Response">
<part name="return" type="tns:outVoT1102"/>
</message>
<message name="executeT1103">
<part name="arg0" type="tns:inVoT1103"/>
</message>
<message name="executeT1103Response">
<part name="return" type="tns:outVoT1103"/>
</message>
<message name="executeT1107">
<part name="arg0" type="tns:inVoT1107"/>
</message>
<message name="executeT1107Response">
<part name="return" type="tns:outVoT1107"/>
</message>
<message name="executeT1104">
<part name="arg0" type="tns:inVoT1104"/>
</message>
<message name="executeT1104Response">
<part name="return" type="tns:outVoT1104"/>
</message>
<message name="executeT1106">
<part name="arg0" type="tns:inVoT1106"/>
</message>
<message name="executeT1106Response">
<part name="return" type="tns:outVoT1106"/>
</message>
<message name="executeT1105">
<part name="arg0" type="tns:inVoT1105"/>
</message>
<message name="executeT1105Response">
<part name="return" type="tns:outVoT1105"/>
</message>
<message name="executeT1108">
<part name="arg0" type="tns:inVoT1108"/>
</message>
<message name="executeT1108Response">
<part name="return" type="tns:outVoT1108"/>
</message>
<message name="executeT1110">
<part name="arg0" type="tns:inVoT1110"/>
</message>
<message name="executeT1110Response">
<part name="return" type="tns:outVoT1110"/>
</message>
<message name="executeT1115">
<part name="arg0" type="tns:inVoT1115"/>
</message>
<message name="executeT1115Response">
<part name="return" type="tns:outVoT1115"/>
</message>
<message name="executeT1401">
<part name="arg0" type="tns:inVoT1401"/>
</message>
<message name="executeT1401Response">
<part name="return" type="tns:outVoT1401"/>
</message>
<message name="executeT1402">
<part name="arg0" type="tns:inVoT1402"/>
</message>
<message name="executeT1402Response">
<part name="return" type="tns:outVoT1402"/>
</message>
<message name="executeT1403">
<part name="arg0" type="tns:inVoT1403"/>
</message>
<message name="executeT1403Response">
<part name="return" type="tns:outVoT1403"/>
</message>
<message name="executeT1405">
<part name="arg0" type="tns:inVoT1405"/>
</message>
<message name="executeT1405Response">
<part name="return" type="tns:outVoT1405"/>
</message>
<message name="executeT1404">
<part name="arg0" type="tns:inVoT1404"/>
</message>
<message name="executeT1404Response">
<part name="return" type="tns:outVoT1404"/>
</message>
<message name="executeT1408">
<part name="arg0" type="tns:inVoT1408"/>
</message>
<message name="executeT1408Response">
<part name="return" type="tns:outVoT1408"/>
</message>
<message name="executeT1406">
<part name="arg0" type="tns:inVoT1406"/>
</message>
<message name="executeT1406Response">
<part name="return" type="tns:outVoT1406"/>
</message>
<message name="executeT1410">
<part name="arg0" type="tns:inVoT1410"/>
</message>
<message name="executeT1410Response">
<part name="return" type="tns:outVoT1410"/>
</message>
<message name="executeT1407">
<part name="arg0" type="tns:inVoT1407"/>
</message>
<message name="executeT1407Response">
<part name="return" type="tns:outVoT1407"/>
</message>
<message name="executeT1411">
<part name="arg0" type="tns:inVoT1411"/>
</message>
<message name="executeT1411Response">
<part name="return" type="tns:outVoT1411"/>
</message>
<message name="executeT1412">
<part name="arg0" type="tns:inVoT1412"/>
</message>
<message name="executeT1412Response">
<part name="return" type="tns:outVoT1412"/>
</message>
<message name="executeT1413">
<part name="arg0" type="tns:inVoT1413"/>
</message>
<message name="executeT1413Response">
<part name="return" type="tns:outVoT1413"/>
</message>
<message name="executeT1417">
<part name="arg0" type="tns:inVoT1417"/>
</message>
<message name="executeT1417Response">
<part name="return" type="tns:outVoT1417"/>
</message>
<message name="executeT1415">
<part name="arg0" type="tns:inVoT1415"/>
</message>
<message name="executeT1415Response">
<part name="return" type="tns:outVoT1415"/>
</message>
<message name="executeT1419">
<part name="arg0" type="tns:inVoT1419"/>
</message>
<message name="executeT1419Response">
<part name="return" type="tns:outVoT1419"/>
</message>
<message name="executeT1418">
<part name="arg0" type="tns:inVoT1418"/>
</message>
<message name="executeT1418Response">
<part name="return" type="tns:outVoT1418"/>
</message>
<message name="executeT1301">
<part name="arg0" type="tns:inVoT1301"/>
</message>
<message name="executeT1301Response">
<part name="return" type="tns:outVoT1301"/>
</message>
<message name="executeT1302">
<part name="arg0" type="tns:inVoT1302"/>
</message>
<message name="executeT1302Response">
<part name="return" type="tns:outVoT1302"/>
</message>
<message name="executeT1303">
<part name="arg0" type="tns:inVoT1303"/>
</message>
<message name="executeT1303Response">
<part name="return" type="tns:outVoT1303"/>
</message>
<portType name="IWebServiceGlToHs">
<operation name="executeT1306">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1306" ns1:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1306Request"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1306Response" ns2:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1306Response"/>
</operation>
<operation name="executeT1304">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1304" ns3:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1304Request"/>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1304Response" ns4:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1304Response"/>
</operation>
<operation name="executeB1102">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeB1102" ns5:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeB1102Request"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeB1102Response" ns6:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeB1102Response"/>
</operation>
<operation name="executeT1305">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1305" ns7:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1305Request"/>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1305Response" ns8:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1305Response"/>
</operation>
<operation name="executeT1202">
<input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1202" ns9:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1202Request"/>
<output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1202Response" ns10:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1202Response"/>
</operation>
<operation name="executeT1308">
<input xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1308" ns11:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1308Request"/>
<output xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1308Response" ns12:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1308Response"/>
</operation>
<operation name="executeT1203">
<input xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1203" ns13:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1203Request"/>
<output xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1203Response" ns14:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1203Response"/>
</operation>
<operation name="executeT1204">
<input xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1204" ns15:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1204Request"/>
<output xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1204Response" ns16:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1204Response"/>
</operation>
<operation name="executeT1208">
<input xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1208" ns17:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1208Request"/>
<output xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1208Response" ns18:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1208Response"/>
</operation>
<operation name="executeT1205">
<input xmlns:ns19="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1205" ns19:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1205Request"/>
<output xmlns:ns20="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1205Response" ns20:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1205Response"/>
</operation>
<operation name="executeB1101">
<input xmlns:ns21="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeB1101" ns21:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeB1101Request"/>
<output xmlns:ns22="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeB1101Response" ns22:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeB1101Response"/>
</operation>
<operation name="executeT1206">
<input xmlns:ns23="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1206" ns23:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1206Request"/>
<output xmlns:ns24="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1206Response" ns24:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1206Response"/>
</operation>
<operation name="executeT1207">
<input xmlns:ns25="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1207" ns25:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1207Request"/>
<output xmlns:ns26="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1207Response" ns26:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1207Response"/>
</operation>
<operation name="executeT1210">
<input xmlns:ns27="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1210" ns27:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1210Request"/>
<output xmlns:ns28="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1210Response" ns28:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1210Response"/>
</operation>
<operation name="executeT1100">
<input xmlns:ns29="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1100" ns29:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1100Request"/>
<output xmlns:ns30="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1100Response" ns30:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1100Response"/>
</operation>
<operation name="executeT1101">
<input xmlns:ns31="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1101" ns31:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1101Request"/>
<output xmlns:ns32="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1101Response" ns32:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1101Response"/>
</operation>
<operation name="executeT1102">
<input xmlns:ns33="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1102" ns33:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1102Request"/>
<output xmlns:ns34="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1102Response" ns34:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1102Response"/>
</operation>
<operation name="executeT1103">
<input xmlns:ns35="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1103" ns35:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1103Request"/>
<output xmlns:ns36="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1103Response" ns36:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1103Response"/>
</operation>
<operation name="executeT1107">
<input xmlns:ns37="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1107" ns37:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1107Request"/>
<output xmlns:ns38="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1107Response" ns38:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1107Response"/>
</operation>
<operation name="executeT1104">
<input xmlns:ns39="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1104" ns39:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1104Request"/>
<output xmlns:ns40="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1104Response" ns40:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1104Response"/>
</operation>
<operation name="executeT1106">
<input xmlns:ns41="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1106" ns41:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1106Request"/>
<output xmlns:ns42="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1106Response" ns42:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1106Response"/>
</operation>
<operation name="executeT1105">
<input xmlns:ns43="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1105" ns43:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1105Request"/>
<output xmlns:ns44="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1105Response" ns44:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1105Response"/>
</operation>
<operation name="executeT1108">
<input xmlns:ns45="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1108" ns45:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1108Request"/>
<output xmlns:ns46="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1108Response" ns46:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1108Response"/>
</operation>
<operation name="executeT1110">
<input xmlns:ns47="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1110" ns47:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1110Request"/>
<output xmlns:ns48="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1110Response" ns48:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1110Response"/>
</operation>
<operation name="executeT1115">
<input xmlns:ns49="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1115" ns49:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1115Request"/>
<output xmlns:ns50="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1115Response" ns50:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1115Response"/>
</operation>
<operation name="executeT1401">
<input xmlns:ns51="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1401" ns51:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1401Request"/>
<output xmlns:ns52="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1401Response" ns52:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1401Response"/>
</operation>
<operation name="executeT1402">
<input xmlns:ns53="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1402" ns53:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1402Request"/>
<output xmlns:ns54="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1402Response" ns54:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1402Response"/>
</operation>
<operation name="executeT1403">
<input xmlns:ns55="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1403" ns55:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1403Request"/>
<output xmlns:ns56="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1403Response" ns56:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1403Response"/>
</operation>
<operation name="executeT1405">
<input xmlns:ns57="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1405" ns57:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1405Request"/>
<output xmlns:ns58="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1405Response" ns58:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1405Response"/>
</operation>
<operation name="executeT1404">
<input xmlns:ns59="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1404" ns59:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1404Request"/>
<output xmlns:ns60="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1404Response" ns60:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1404Response"/>
</operation>
<operation name="executeT1408">
<input xmlns:ns61="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1408" ns61:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1408Request"/>
<output xmlns:ns62="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1408Response" ns62:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1408Response"/>
</operation>
<operation name="executeT1406">
<input xmlns:ns63="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1406" ns63:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1406Request"/>
<output xmlns:ns64="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1406Response" ns64:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1406Response"/>
</operation>
<operation name="executeT1410">
<input xmlns:ns65="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1410" ns65:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1410Request"/>
<output xmlns:ns66="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1410Response" ns66:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1410Response"/>
</operation>
<operation name="executeT1407">
<input xmlns:ns67="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1407" ns67:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1407Request"/>
<output xmlns:ns68="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1407Response" ns68:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1407Response"/>
</operation>
<operation name="executeT1411">
<input xmlns:ns69="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1411" ns69:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1411Request"/>
<output xmlns:ns70="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1411Response" ns70:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1411Response"/>
</operation>
<operation name="executeT1412">
<input xmlns:ns71="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1412" ns71:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1412Request"/>
<output xmlns:ns72="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1412Response" ns72:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1412Response"/>
</operation>
<operation name="executeT1413">
<input xmlns:ns73="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1413" ns73:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1413Request"/>
<output xmlns:ns74="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1413Response" ns74:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1413Response"/>
</operation>
<operation name="executeT1417">
<input xmlns:ns75="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1417" ns75:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1417Request"/>
<output xmlns:ns76="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1417Response" ns76:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1417Response"/>
</operation>
<operation name="executeT1415">
<input xmlns:ns77="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1415" ns77:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1415Request"/>
<output xmlns:ns78="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1415Response" ns78:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1415Response"/>
</operation>
<operation name="executeT1419">
<input xmlns:ns79="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1419" ns79:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1419Request"/>
<output xmlns:ns80="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1419Response" ns80:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1419Response"/>
</operation>
<operation name="executeT1418">
<input xmlns:ns81="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1418" ns81:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1418Request"/>
<output xmlns:ns82="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1418Response" ns82:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1418Response"/>
</operation>
<operation name="executeT1301">
<input xmlns:ns83="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1301" ns83:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1301Request"/>
<output xmlns:ns84="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1301Response" ns84:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1301Response"/>
</operation>
<operation name="executeT1302">
<input xmlns:ns85="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1302" ns85:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1302Request"/>
<output xmlns:ns86="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1302Response" ns86:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1302Response"/>
</operation>
<operation name="executeT1303">
<input xmlns:ns87="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1303" ns87:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1303Request"/>
<output xmlns:ns88="http://www.w3.org/2007/05/addressing/metadata" message="tns:executeT1303Response" ns88:Action="http://webservice.bizservice.modules.aplus.ncl.git.com.cn/IWebServiceGlToHs/executeT1303Response"/>
</operation>
</portType>
</definitions>
