crms/com.primeton.tsl/src/CRMS_SVR_S0110101000A202.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:adtec="http://www.adtec.com.cn" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.adtec.com.cn">
	<wsdl:types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.adtec.com.cn">
		<xsd:complexType name="FMT_SOAP_UTF8_RequestHeader">
			<xsd:sequence>
				<xsd:element minOccurs="0" name="VersionNo" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>版本号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="ReqSysCode" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>请求方系统代码</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="ReqSecCode" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>安全节点号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="TxType" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>RQ</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="TxMode" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>0-正常 1-冲销2-冲正 3-重发</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="TxCode" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>soapenv服务码</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="ReqDate" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>业务日期</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="ReqTime" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>机器时间戳</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="ReqSeqNo" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>请求方交易流水号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="ChanlNo" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>渠道号（字符）</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="Brch" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>机构编号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="TermNo" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>终端号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="Oper" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>柜员</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="SendFileName" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>发送文件名</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="BeginRec" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>开始记录数</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="MaxRec" type="xsd:integer">
					<xsd:annotation>
              <xsd:documentation>一次查询最大记录数</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="FileHMac" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>文件摘要</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HMac" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>报文摘要</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="FMT_SOAP_UTF8_ReqTranHeader">
			<xsd:sequence>
				<xsd:element minOccurs="0" name="HPinSeed" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>PIN种子</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HOriChnl" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>渠道来源</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HSecFlag" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>加密标志</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HPwdFlag" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>PIN标志</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HCombFlag" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>组合标志</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HSvcInfo" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>主机服务名</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HSecInfoVerNo" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>密钥版本号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HSysChnl" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>系统渠道号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HLegaObj" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>法人代码</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HMsgRefNo" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>报文跟踪号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HintOrigMark" type="xsd:integer">
					<xsd:annotation>
              <xsd:documentation>HintOrigMark</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HTermNo" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>终端号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HCityCd" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>城市代码</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HCommitFlag" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>二次提交标志</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HBrchNo" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>机构代码</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HUserID" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>交易柜员</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HTxnCd" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>交易代码</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HTxnMod" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>交易模式</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HReserveLen" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>本交易包长度</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HSenderSvcCd" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>前台交易码</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HSenderSeq" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>前台流水号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HSenderDate" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>前台日期</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HAuthUserID" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>授权柜员</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HAuthVerfInfo" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>授权密码</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HAuthFlag" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>授权柜员有无卡标志</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HRefSeq" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>第三方流水</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HAuthSeri" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>授权柜员卡序号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HHostSeq" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>后台柜员流水号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HRefDt" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>第三方日期</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HSvcVer" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>交易接口版本号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HreserveMsg" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>上送交易头保留</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="FMT_CRMS_SVR_S0110101000A202_IN">
			<xsd:sequence>
				<xsd:element minOccurs="0" name="RESOLVE_TYPE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>客户识别方式</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="ECIF_CUST_NO" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>客户编号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CERT_TYPE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>证件类型</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CERT_NO" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>证件号码</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="EXT_ARR_NO" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>客户账号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="FMT_SOAP_UTF8_ResponseHeader">
			<xsd:sequence>
				<xsd:element minOccurs="0" name="VersionNo" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>版本号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="ReqSysCode" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>请求方系统代码</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="ReqSecCode" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>安全节点号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="TxType" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>RP</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="TxMode" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>0-正常 1-冲销2-冲正 3-重发</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="TxCode" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>ESB服务码</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="ReqDate" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>请求方交易日期</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="ReqTime" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>请求方交易时间戳</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="ReqSeqNo" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>请求方交易流水号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="SvrDate" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>服务方交易日期</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="SvrTime" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>服务方交易时间戳</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="SvrSeqNo" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>服务方交易流水号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="RecvFileName" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>接收文件各</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="TotNum" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>查询总记录数</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CurrNum" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>当前查询返回记录数</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="FileHMac" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>文件摘要</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HMac" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>报文摘要</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="FMT_SOAP_UTF8_ResTranHeader">
			<xsd:sequence>
				<xsd:element minOccurs="0" name="HSecFlag" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>加密标志</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HCombFlag" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>组合标志</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HSvcInfo" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>主机服务名</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HSecInfoVerNo" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>密钥版本号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HMsgRefNo" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>报文跟踪号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HIdentFlag" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>验印标志</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HSuperFlag" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>是否外汇监管标志</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HChkFlag" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>监督复核标志</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HChkTxnCd" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>复核交易码</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HVerfCd" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>凭证校验码</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HTranRes" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>系统保留</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HRefTxnCd" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>联动交易码</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HServerDt" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>交易日期</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HServerTm" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>交易时间</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HServerSeq" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>柜员流水号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HAcountDt" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>会计日期</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HRefSeq" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>第三方流水号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HRefDt" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>第三方日期</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HNextStep" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>下一交易码</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HVchChk" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>凭证校验</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HRetResInfo" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>返回交易头保留</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HErrTranNo" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>出错交易序号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HAssiInfo" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>通知前台不打印列表</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HRetCode" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>错误代号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HRetNo" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>错误编号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HRetMsg" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>错误信息</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HWarnMsg" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>警告信息</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="FMT_CRMS_SVR_S0110101000A202_OUT">
			<xsd:sequence>
				<xsd:element minOccurs="0" name="ECIF_CUST_NO" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>客户编号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CUST_TYPE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>客户类型</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="PARTY_NAME" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>客户名称</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CERT_TYPE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>证件类型</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CERT_NO" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>证件号码</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CERT_ORG_NAT" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>发证机关国家</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CERT_ORG_AREA" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>发证机关所在地区</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CERT_ORG_NAME" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>发证机关名称</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CERT_ISSUE_DATE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>证件签发日期</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CERT_DUE_DATE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>证件到期日期</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CERT_TYPE_FLAG" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>证件类型标识</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CERT_SUB_TYPE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>证件细分类型</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CERT_IMG_ADDR" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>证件影像地址</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CERT_DESC" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>证件其它说明</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CUST_SHTNAME" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>客户简称</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CUST_ENNAME" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>英文名称</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CUST_SPNAME" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>英文简称</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CUST_BNAME" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>客户曾用名</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="GOVN_CERT_NO" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>营业执照号码</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="GOVN_EFFT_DATE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>营业执照生效日期</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="GOVN_EXPD_DATE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>营业执照有效日期</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="GOVN_REVIEW_YEAR" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>营业执照最新年检年份</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="ORG_CODE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>组织机构代码</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="ORG_CODE_ISSU" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>组织机构代码证颁发机关</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="ORG_CODE_ISS_DATE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>组织机构代码证颁发日</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="ORG_CODE_DUE_DATE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>组织机构代码证到期日</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="REG_ORG" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>注册登记机关</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="REG_TYPE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>登记注册类型</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="REG_CHECK_DATE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>注册登记年审到期日</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="REG_COUNTRY" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>注册地国别</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="REG_PROVINCE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>注册地省别</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="REG_AREA_CODE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>注册地区代码</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="REG_DATE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>注册日期(企业成立日期)</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="REG_CPTL" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>注册资本(元)</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="REG_CPTL_CURR" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>注册资本币别</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="PAID_CPTL" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>实收资本(元)</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="PAID_CPTL_CURR" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>实收资本币别</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="ORG_TYPE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>组织机构类型</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CORP_NATURE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>企业性质</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CORP_ATTR" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>企业属性</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="MNGMT_ORG_FORM" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>经营组织形式</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CUST_SUBJ_TYPE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>客户主体类型</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="TAX_REG_NO" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>税务登记编号(国税)</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="REG_EXPD_DATE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>税务登记编号(国税)有效日期</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="TAX_REG_ORG" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>税务登记机关(国税)</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="TAX_AREA_NO" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>税务登记编号(地税)</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="AREA_EXPD_DATE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>税务登记编号(地税)有效日期</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="AREA_REG_ORG" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>税务登记机关(地税)</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="IDVU_TX_NO" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>纳税人识别号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="LOAN_CARD_FLAG" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>贷款卡标识</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="LOAN_CARD_NO" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>贷款卡号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="LOAN_CARD_DUE_DATE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>贷款卡有效日期</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="LOAN_CARD_CHK_DATE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>贷款卡年检日期</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="UNIT_CREDIT_CODE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>机构信用代码</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="DEPT_NAT_ECON" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>国民经济部门</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="MANG_DEPT" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>上级主管部门</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CORP_SUBJ" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>企业隶属</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="INDUSTRY_TYPE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>行业类别</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="ECON_KIND" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>经济类型</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="BASIC_ACC_LIC_NO" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>基本户开户许可证编号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="BASIC_ACC_PERMIT_NO" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>基本户开户许可证核准号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="BASIC_ACC_BANK_NO" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>基本账户开户行行号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="BASIC_ACC_OPEN_BANK" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>基本账户开户行名称</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="BASIC_ACC_NO" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>基本账户账号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="BASIC_ACC_NAME" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>基本账户户名</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="BASIC_ACC_OPEN_DATE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>基本户开户日期</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="BASIC_ACC_STATE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>基本户状态</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="BUSI_LIC_NO" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>经营许可证号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="ADMN_TYPE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>主营范围</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="SIDE_TYPE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>兼营范围</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="COUNTRY_MNG" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>经营地国别</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="PROVINCE_MNG" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>经营地省别</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="MNG_AREA_CODE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>经营地区代码</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="MNG_SITUATION" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>经营状况</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="MNG_OPERATE_AREA" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>经营场地面积(平方米)</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="MNG_OPERATE_OWNERSHIP" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>经营场地所有权</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="COMP_SIZE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>企业规模</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="ASSETS_SIZE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>资产规模</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="EMP_SIZE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>员工规模</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="IMPT_SIZE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>进口规模</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="EXIT_SIZE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>出口规模</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="SALE_SIZE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>销售规模</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="EMP_NUM" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>员工总数</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="TOTAL_ASSETS" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>总资产</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="NET_ASSETS" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>净资产</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="SELL_SUM" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>年销售额</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="ANNUAL_INCOME" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>年收入</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="FREE_TAX_FLAG" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>免税标志</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="FREE_TAX_LIMIT" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>免税期限</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="TAX_RATE_COUNTRY" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>税率国别</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="INTEREST_RATE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>利息税率</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="TAX_RATE_DATE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>税率有效日期</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="PRIVATE_FLAG" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>民营标志</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="LISTED_FLAG" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>上市公司标志</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="HOLDING_TYPE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>控股类型</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="ACTUAL_CONTROLLER" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>控股股东或实际控制人</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="COUN_CORP_FLAG" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>是否农村企业</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="TOPAGRI_CORP_FLAG" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>农业产业化龙头企业标志</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="TOPAGRI_CORP_KIND" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>农业产业化龙头企业类型</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="THREE_AGR_FLAG" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>是否三农企业</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="NEW_TECH_CORPORNOT" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>是否高新技术企业</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="SPE_INDUSTRY_FLAG" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>特殊行业类型标志</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="SPE_INDUSTRY_LIC" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>特殊行业许可证号码</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="IMEX_MANA_IND" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>自营进出口权标志</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="AREA_TYPE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>区域标志</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="FIN_CUST_TYPE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>金融客户类型</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="FIN_ORG_TYPE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>金融机构类型</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="SWIFT_NO" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>SWIFT编号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="PAY_NO" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>大额支付号(联行号)</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="FIN_LIC_NO" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>金融许可证编号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="FIN_ORG_CD" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>金融机构代码</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="FIN_MANAGE_AREA" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>金融机构经营区域范围</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="FIN_DEPT_FLAG" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>同业存放标志</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="DEPT_FIN_FLAG" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>存放同业标志</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CUST_FORE_EXCH_ATTR" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>客户外汇属性维护标志</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="NRA_FLAG" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>NRA客户标志</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="SPE_INST_CODE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>特殊机构代码赋码</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="FORE_CUST_TYPE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>外管客户类型</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="FORE_EXCH_LIC_NO" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>外汇许可证号码</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="BUSI_SITE_CODE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>营业场所代码</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="RES_COUNTRY" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>常驻国家代码</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="FORE_BASIC_ACC_BANK" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>外币基本账户开户行</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="FORE_BASIC_ACC" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>外币基本账户账号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="FORE_INV_COUNTRY" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>外方投资国别</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="FORE_ECON_TRDE_FLAG" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>对外经济贸易经营权</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="SPE_ECON_INST_FLAG" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>是否特殊经济区内企业</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="SPE_ECON_INST_TYPE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>特殊经济区企业类型</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="PAY_LIS_FLAG" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>是否进口付汇名录内</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="FORE_SAFE_NO" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>所属外管局编号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="FORE_INDUSTRY_TYPE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>外管行业属性</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="FORE_ECON_TYPE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>外管经济类型</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="FORE_FIRST_NAME" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>第一外管局注册名称</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="FORE_SECOND_NAME" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>第二外管局注册名称</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="BANK_REL_FLAG" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>与我行关系</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="SHAREHOLDER_FLAG" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>是否本行股东</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="STOCK_NUM" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>持股数</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="STOCK_ACCT" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>股权账号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="REL_UNIT_FLAG" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>是否为关联单位</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CUST_EVAL_LEVEL" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>客户综合评估级别</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="BANK_CREDIT_LEVEL" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>本行评估信用等级</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="BANK_EVALUATE_DATE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>本行评估日期</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="BANK_ORG_NAME" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>本行评级机构名称</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="BANK_ORG_RESULT" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>本行机构评级结果</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="OTHER_CREDIT_LEVEL" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>外部机构评估信用等级</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="OTHER_EVALUATE_DATE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>外部机构评级日期</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="OTHER_ORG_NAME" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>外部评级机构名称</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="OTHER_ORG_RESULT" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>外部机构评级结果</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="EVALUATE_LEVEL" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>信用等级认定级别</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CUAT_RISK_LEVEL" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>客户风险级别</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CUST_LEVEL" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>客户等级</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="IDE_CHECK_FLAG" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>身份核查标志</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CUST_MANAGER_NO" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>客户经理编号</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CUST_MNG_NAME" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>客户经理名称</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="OWN_ORG" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>所属机构</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="OPEN_ORG" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>开户机构</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="OPEN_TELLER" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>开户柜员</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="OPEN_DATE" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>开户日期</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="REAL_FULL_FLAG" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>信息完整性标志</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="CUST_STATUS" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>客户有效状态</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="LAST_SYSTEM_ID" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>最新更新渠道</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
				<xsd:element minOccurs="0" name="LAST_UPDATED_TS" type="xsd:string">
					<xsd:annotation>
              <xsd:documentation>最新更新时间</xsd:documentation>
            </xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="FMT_CRMS_SVR_S0110101000A202_ALL_IN">
		<wsdl:part name="RequestHeader" type="adtec:FMT_SOAP_UTF8_RequestHeader"/>
		<wsdl:part name="ReqTranHeader" type="adtec:FMT_SOAP_UTF8_ReqTranHeader"/>
		<wsdl:part name="RequestBody" type="adtec:FMT_CRMS_SVR_S0110101000A202_IN"/>
	</wsdl:message>
	<wsdl:message name="FMT_CRMS_SVR_S0110101000A202_ALL_OUT">
		<wsdl:part name="ResponseHeader" type="adtec:FMT_SOAP_UTF8_ResponseHeader"/>
		<wsdl:part name="ResTranHeader" type="adtec:FMT_SOAP_UTF8_ResTranHeader"/>
		<wsdl:part name="ResponseBody" type="adtec:FMT_CRMS_SVR_S0110101000A202_OUT"/>
	</wsdl:message>
	<wsdl:portType name="S0110101000A202Type">
		<wsdl:operation name="S0110101000A202">
			<wsdl:input message="adtec:FMT_CRMS_SVR_S0110101000A202_ALL_IN"/>
			<wsdl:output message="adtec:FMT_CRMS_SVR_S0110101000A202_ALL_OUT"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="S0110101000A202Binding" type="adtec:S0110101000A202Type">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="S0110101000A202">
			<soap:operation soapAction="http://172.16.205.87:12103/WebService/CRMS_SVR/S0110101000A202"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="S0110101000A202Service">
		<wsdl:port binding="adtec:S0110101000A202Binding" name="S0110101000A202Port">
			<soap:address location="http://172.16.205.87:12103/WebService/CRMS_SVR/S0110101000A202"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
