crms/com.bos.inter/src/com/bos/inter/CallBmsInterface/CreditToOuterService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CreditToOuterServiceService" targetNamespace="http://www.primeton.com/CreditToOuterService" xmlns:ns2="http://tsl.primeton.com" xmlns:ns1="http://www.w3.org/2001/XMLSchema" xmlns:ns3="http://CallBmsInterface.inter.bos.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:nns="http://www.primeton.com/CreditToOuterService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://CallBmsInterface.inter.bos.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="CRMSCrdRegainReqBody">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="contractNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="custNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="happenAmount" nillable="true" type="ns1:decimal"/>
          <xsd:element minOccurs="0" name="productCd" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CRMSCrdRegainReq">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="channelFlag" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="flowNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="localDate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="localTime" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="operationType" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="orgCode" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="orgLevel" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="orgName" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="pageNum" nillable="true" type="ns1:int"/>
          <xsd:element minOccurs="0" name="postCd" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="postName" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="provinceNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="reqTranHeader" nillable="true" type="ns2:ReqTranHeader"/>
          <xsd:element minOccurs="0" name="requestBody" nillable="true" type="ns3:CRMSCrdRegainReqBody"/>
          <xsd:element minOccurs="0" name="requestHeader" nillable="true" type="ns2:RequestHeader"/>
          <xsd:element minOccurs="0" name="serverCod" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="size" nillable="true" type="ns1:int"/>
          <xsd:element minOccurs="0" name="startnum" nillable="true" type="ns1:int"/>
          <xsd:element minOccurs="0" name="userCode" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="userName" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CRMSCrdQueryRsBody">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="beginDate" type="ns1:dateTime"/>
          <xsd:element minOccurs="0" name="crdAviAmount" nillable="true" type="ns1:decimal"/>
          <xsd:element minOccurs="0" name="crdDetailAmount" nillable="true" type="ns1:decimal"/>
          <xsd:element minOccurs="0" name="crdDetailAviAmount" nillable="true" type="ns1:decimal"/>
          <xsd:element minOccurs="0" name="crdDetailUsedAmount" nillable="true" type="ns1:decimal"/>
          <xsd:element minOccurs="0" name="crdTotalAmount" nillable="true" type="ns1:decimal"/>
          <xsd:element minOccurs="0" name="crdUsedAmount" nillable="true" type="ns1:decimal"/>
          <xsd:element minOccurs="0" name="custName" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="custNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="custType" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="endDate" type="ns1:dateTime"/>
          <xsd:element minOccurs="0" name="productName" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="productNo" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CRMSCrdQueryRs">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="allnum" nillable="true" type="ns1:int"/>
          <xsd:element minOccurs="0" name="comeon" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="count" nillable="true" type="ns1:int"/>
          <xsd:element minOccurs="0" name="resCode" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="resError" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="resTranHeader" nillable="true" type="ns2:ResTranHeader"/>
          <xsd:element minOccurs="0" name="responseBody" nillable="true" type="ns3:CRMSCrdQueryRsBody"/>
          <xsd:element minOccurs="0" name="responseHeader" nillable="true" type="ns2:ResponseHeader"/>
          <xsd:element minOccurs="0" name="startnum" nillable="true" type="ns1:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CRMSCrdDeductionResBody"/>
      <xsd:complexType name="CRMSCrdDeductionRes">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="allnum" nillable="true" type="ns1:int"/>
          <xsd:element minOccurs="0" name="comeon" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="count" nillable="true" type="ns1:int"/>
          <xsd:element minOccurs="0" name="resCode" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="resError" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="resTranHeader" nillable="true" type="ns2:ResTranHeader"/>
          <xsd:element minOccurs="0" name="responseBody" nillable="true" type="ns3:CRMSCrdDeductionResBody"/>
          <xsd:element minOccurs="0" name="responseHeader" nillable="true" type="ns2:ResponseHeader"/>
          <xsd:element minOccurs="0" name="startnum" nillable="true" type="ns1:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CRMSCrdDeductionReqBody">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="contractNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="custNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="happenAmount" nillable="true" type="ns1:decimal"/>
          <xsd:element minOccurs="0" name="productCd" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CRMSCrdDeductionReq">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="channelFlag" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="flowNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="localDate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="localTime" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="operationType" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="orgCode" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="orgLevel" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="orgName" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="pageNum" nillable="true" type="ns1:int"/>
          <xsd:element minOccurs="0" name="postCd" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="postName" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="provinceNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="reqTranHeader" nillable="true" type="ns2:ReqTranHeader"/>
          <xsd:element minOccurs="0" name="requestBody" nillable="true" type="ns3:CRMSCrdDeductionReqBody"/>
          <xsd:element minOccurs="0" name="requestHeader" nillable="true" type="ns2:RequestHeader"/>
          <xsd:element minOccurs="0" name="serverCod" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="size" nillable="true" type="ns1:int"/>
          <xsd:element minOccurs="0" name="startnum" nillable="true" type="ns1:int"/>
          <xsd:element minOccurs="0" name="userCode" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="userName" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CRMSCrdRegainResBody"/>
      <xsd:complexType name="CRMSCrdRegainRes">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="allnum" nillable="true" type="ns1:int"/>
          <xsd:element minOccurs="0" name="comeon" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="count" nillable="true" type="ns1:int"/>
          <xsd:element minOccurs="0" name="resCode" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="resError" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="resTranHeader" nillable="true" type="ns2:ResTranHeader"/>
          <xsd:element minOccurs="0" name="responseBody" nillable="true" type="ns3:CRMSCrdRegainResBody"/>
          <xsd:element minOccurs="0" name="responseHeader" nillable="true" type="ns2:ResponseHeader"/>
          <xsd:element minOccurs="0" name="startnum" nillable="true" type="ns1:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CRMSCrdQueryReqBody">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="custNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="custType" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="productCd" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CRMSCrdQueryReq">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="channelFlag" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="flowNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="localDate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="localTime" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="operationType" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="orgCode" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="orgLevel" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="orgName" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="pageNum" nillable="true" type="ns1:int"/>
          <xsd:element minOccurs="0" name="postCd" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="postName" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="provinceNum" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="reqTranHeader" nillable="true" type="ns2:ReqTranHeader"/>
          <xsd:element minOccurs="0" name="requestBody" nillable="true" type="ns3:CRMSCrdQueryReqBody"/>
          <xsd:element minOccurs="0" name="requestHeader" nillable="true" type="ns2:RequestHeader"/>
          <xsd:element minOccurs="0" name="serverCod" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="size" nillable="true" type="ns1:int"/>
          <xsd:element minOccurs="0" name="startnum" nillable="true" type="ns1:int"/>
          <xsd:element minOccurs="0" name="userCode" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="userName" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://tsl.primeton.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="RequestHeader">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="beginRec" type="ns1:int"/>
          <xsd:element minOccurs="0" name="brch" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="chanlNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="fileHMac" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hmac" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="maxRec" type="ns1:int"/>
          <xsd:element minOccurs="0" name="oper" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="reqDate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="reqSecCode" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="reqSeqNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="reqSysCode" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="reqTime" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="sendFileName" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="termNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="txCode" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="txMode" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="txType" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="versionNo" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReqTranHeader">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="hauthFlag" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hauthSeri" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hauthUserID" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hauthVerfInfo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hbrchNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hcityCd" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hcombFlag" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hhostSeq" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hlegaObj" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hmsgRefNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="horiChnl" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hpinSeed" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hpwdFlag" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hrefDt" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hrefSeq" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hreserveLen" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hreserveMsg" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hsecFlag" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hsecInfoVerNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hsenderDate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hsenderSeq" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hsenderSvcCd" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hsvcInfo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hsvcVer" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hsysChnl" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="htermNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="htxnCd" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="htxnMod" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="huserID" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ResponseHeader">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="currNum" type="ns1:int"/>
          <xsd:element minOccurs="0" name="fileHMac" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hmac" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="recvFileName" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="reqDate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="reqSecCode" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="reqSeqNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="reqSysCode" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="reqTime" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="svrDate" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="svrSeqNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="svrTime" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="totNum" type="ns1:int"/>
          <xsd:element minOccurs="0" name="txCode" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="txMode" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="txType" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="versionNo" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ResTranHeader">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="hacountDt" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hassiInfo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hchkFlag" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hchkTxnCd" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hcombFlag" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="herrTranNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hidentFlag" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hmsgRefNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hnextStep" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hrefDt" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hrefSeq" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hrefTxnCd" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hretCode" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hretMsg" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hretNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hretResInfo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hsecFlag" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hsecInfoVerNo" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hserverDt" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hserverSeq" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hserverTm" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hsuperFlag" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="htranRes" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hvchChk" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hverfCd" nillable="true" type="ns1:string"/>
          <xsd:element minOccurs="0" name="hwarnMsg" nillable="true" type="ns1:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.primeton.com/CreditToOuterService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="CRMSCrdDeduction">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="in0" nillable="true" type="ns3:CRMSCrdDeductionReq"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CRMSCrdDeductionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="out1" nillable="true" type="ns3:CRMSCrdDeductionRes"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CRMSCrdQueryService">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="in0" nillable="true" type="ns3:CRMSCrdQueryReq"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CRMSCrdQueryServiceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="out1" nillable="true" type="ns3:CRMSCrdQueryRs"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CRMSCrdRegain">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="in0" nillable="true" type="ns3:CRMSCrdRegainReq"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CRMSCrdRegainResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="out1" nillable="true" type="ns3:CRMSCrdRegainRes"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="CRMSCrdQueryService">
    <wsdl:part name="CRMSCrdQueryService" element="nns:CRMSCrdQueryService">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CRMSCrdRegainResponse">
    <wsdl:part name="CRMSCrdRegainResponse" element="nns:CRMSCrdRegainResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CRMSCrdRegain">
    <wsdl:part name="CRMSCrdRegain" element="nns:CRMSCrdRegain">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CRMSCrdDeduction">
    <wsdl:part name="CRMSCrdDeduction" element="nns:CRMSCrdDeduction">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CRMSCrdDeductionResponse">
    <wsdl:part name="CRMSCrdDeductionResponse" element="nns:CRMSCrdDeductionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CRMSCrdQueryServiceResponse">
    <wsdl:part name="CRMSCrdQueryServiceResponse" element="nns:CRMSCrdQueryServiceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CreditToOuterService">
    <wsdl:operation name="CRMSCrdDeduction">
      <wsdl:input name="CRMSCrdDeduction" message="nns:CRMSCrdDeduction">
    </wsdl:input>
      <wsdl:output name="CRMSCrdDeductionResponse" message="nns:CRMSCrdDeductionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CRMSCrdQueryService">
      <wsdl:input name="CRMSCrdQueryService" message="nns:CRMSCrdQueryService">
    </wsdl:input>
      <wsdl:output name="CRMSCrdQueryServiceResponse" message="nns:CRMSCrdQueryServiceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CRMSCrdRegain">
      <wsdl:input name="CRMSCrdRegain" message="nns:CRMSCrdRegain">
    </wsdl:input>
      <wsdl:output name="CRMSCrdRegainResponse" message="nns:CRMSCrdRegainResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
